<h2>Events</h2>

<div class="grid-block -lmb">
  <ul class="grid-content small-12 medium-5 -nmb">
    <li><a {{action "scrollToId" 'bounds_changed'}}>bounds_changed</a></li>
    <li><a {{action "scrollToId" 'center_changed'}}>center_changed</a></li>
    <li><a {{action "scrollToId" 'click'}}>click</a></li>
    <li><a {{action "scrollToId" 'dblclick'}}>dblclick</a></li>
    <li><a {{action "scrollToId" 'drag'}}>drag</a></li>
    <li><a {{action "scrollToId" 'dragend'}}>dragend</a></li>
    <li><a {{action "scrollToId" 'dragstart'}}>dragstart</a></li>
    <li><a {{action "scrollToId" 'heading_changed'}}>heading_changed</a></li>
    <li><a {{action "scrollToId" 'idle'}}>idle</a></li>
    <li><a {{action "scrollToId" 'loaded'}}>loaded</a></li>
  </ul>
  <ul class="grid-content small-12 medium-5 -nmb">
    <li><a {{action "scrollToId" 'maptypeid_changed'}}>maptypeid_changed</a></li>
    <li><a {{action "scrollToId" 'mousemove'}}>mousemove</a></li>
    <li><a {{action "scrollToId" 'mouseout'}}>mouseout</a></li>
    <li><a {{action "scrollToId" 'mouseover'}}>mouseover</a></li>
    <li><a {{action "scrollToId" 'projection_changed'}}>projection_changed</a></li>
    <li><a {{action "scrollToId" 'resize'}}>resize</a></li>
    <li><a {{action "scrollToId" 'rightclick'}}>rightclick</a></li>
    <li><a {{action "scrollToId" 'tilesloaded'}}>tilesloaded</a></li>
    <li><a {{action "scrollToId" 'tilt_changed'}}>tilt_changed</a></li>
    <li><a {{action "scrollToId" 'zoom_changed'}}>zoom_changed</a></li>
  </ul>
</div>

<h3 class="grid-content -npl">Events States</h3>

<div id="g-map-event-states" class="grid-block -pb">
  <div class="grid-content small-12 medium-3 -smb">
    <div class="gmaps-fade-text {{if isbounds_changed '-fade'}}" data-test-updated={{if wasBounds_changed 'bounds_changed'}}>bounds_changed</div>
    <div class="gmaps-fade-text {{if iscenter_changed '-fade'}}" data-test-updated={{if wasCenter_changed 'center_changed'}}>center_changed</div>
    <div class="gmaps-fade-text {{if isclick '-fade'}}" data-test-updated={{if wasClick 'click'}}>click</div>
    <div class="gmaps-fade-text {{if isdblclick '-fade'}}" data-test-updated={{if wasDblclick 'dblclick'}}>dblclick</div>
    <div class="gmaps-fade-text {{if isdrag '-fade'}}" data-test-updated={{if wasDrag 'drag'}}>drag</div>
    <div class="gmaps-fade-text {{if isdragend '-fade'}}" data-test-updated={{if wasDragend 'dragend'}}>dragend</div>
    <div class="gmaps-fade-text {{if isdragstart '-fade'}}" data-test-updated={{if wasDragstart 'dragstart'}}>dragstart</div>
  </div>

  <div class="grid-content small-12 medium-3 -smb">
    <div class="gmaps-fade-text {{if isheading_changed '-fade'}}" data-test-updated={{if wasHeading_changed 'heading_changed'}}>heading_changed</div>
    <div class="gmaps-fade-text {{if isidle '-fade'}}" data-test-updated={{if wasIdle 'idle'}}>idle</div>
    <div class="gmaps-fade-text {{if isloaded '-fade'}}" data-test-updated={{if wasLoaded 'loaded'}}>loaded</div>
    <div class="gmaps-fade-text {{if ismaptypeid_changed '-fade'}}" data-test-updated={{if wasMaptypeid_changed 'maptypeid_changed'}}>maptypeid_changed</div>
    <div class="gmaps-fade-text {{if ismousemove '-fade'}}" data-test-updated={{if wasMousemove 'mousemove'}}>mousemove</div>
    <div class="gmaps-fade-text {{if ismouseout '-fade'}}" data-test-updated={{if wasMouseout 'mouseout'}}>mouseout</div>
    <div class="gmaps-fade-text {{if ismouseover '-fade'}}" data-test-updated={{if wasMouseover 'mouseover'}}>mouseover</div>
  </div>

  <div class="grid-content small-12 medium-3 -smb">
    <div class="gmaps-fade-text {{if isprojection_changed '-fade'}}" data-test-updated={{if wasProjection_changed 'projection_changed'}}>projection_changed</div>
    <div class="gmaps-fade-text {{if isresize '-fade'}}" data-test-updated={{if wasResize 'resize'}}>resize</div>
    <div class="gmaps-fade-text {{if isrightclick '-fade'}}" data-test-updated={{if wasRightclick 'rightclick'}}>rightclick</div>
    <div class="gmaps-fade-text {{if istilesloaded '-fade'}}" data-test-updated={{if wasTilesloaded 'tilesloaded'}}>tilesloaded</div>
    <div class="gmaps-fade-text {{if istilt_changed '-fade'}}" data-test-updated={{if wasTilt_changed 'tilt_changed'}}>tilt_changed</div>
    <div class="gmaps-fade-text {{if iszoom_changed '-fade'}}" data-test-updated={{if wasZoom_changed 'zoom_changed'}}>zoom_changed</div>
  </div>
</div>

<div class="grid-content -np -mb">
  {{g-map
    class="gmaps-docs-map"
    lat=lat
    lng=lng
    zoom=zoom
    heading=10
    tilt=45
    bounds_changed=(route-action "bounds_changed")
    center_changed=(route-action "center_changed")
    click=(route-action "click")
    dblclick=(route-action "dblclick")
    drag=(route-action "drag")
    dragend=(route-action "dragend")
    dragstart=(route-action "dragstart")
    heading_changed=(route-action "heading_changed")
    idle=(route-action "idle")
    loaded=(route-action "loaded")
    maptypeid_changed=(route-action "maptypeid_changed")
    mousemove=(route-action "mousemove")
    mouseout=(route-action "mouseout")
    mouseover=(route-action "mouseover")
    projection_changed=(route-action "projection_changed")
    resize=(route-action "resize")
    rightclick=(route-action "rightclick")
    tilesloaded=(route-action "tilesloaded")
    tilt_changed=(route-action "tilt_changed")
    zoom_changed=(route-action "zoom_changed")}}
</div>

<hr>

<p id="bounds_changed" class="medium-7">
  <h3>bounds_changed</h3>

  <div class="gmaps-snippet">
    <header>Example</header>
    <code>
      <div class="gist">
        <div class="gist-file">
          <div class="gist-data">
            <div class="js-gist-file-update-container js-task-list-container file-box">
              <div id="file-templa-hbs" class="file">
                <div class="blob-wrapper data type-handlebars">
                  <table class="highlight tab-size js-file-line-container" data-tab-size="8">
                    <tbody>
                      <tr>
                        <td id="file-stuff-hbs-L1" class="blob-num js-line-number" data-line-number="1"></td>
                        <td id="file-stuff-hbs-LC1" class="blob-code blob-code-inner js-file-line"><span class="pl-c1">\{{</span><span class="pl-v">g-map</span> <span class="pl-e"><span class="pl-v">bounds_changed</span>=</span>(<span class="pl-e"><span class="pl-v">action</span> <span class="pl-v">"myBoundsChanged"</span></span>)<span class="pl-c1">}}</span></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="gist-meta">
            made with ❤ by <a href="https://github.com">GitHub</a>
          </div>
        </div>
      </div>
    </code>
  </div>
</p>

<hr>

<p id="center_changed" class="medium-7">
  <h3>center_changed</h3>

  <div class="-mb">
    <small class="-db">Arugments</small>
    <div class="gmaps-inline-code -nml">{lat, lng}</div>
  </div>

  <div class="gmaps-snippet">
    <header>Example</header>
    <code>
      <div class="gist">
        <div class="gist-file">
          <div class="gist-data">
            <div class="js-gist-file-update-container js-task-list-container file-box">
              <div id="file-templa-hbs" class="file">
                <div class="blob-wrapper data type-handlebars">
                  <table class="highlight tab-size js-file-line-container" data-tab-size="8">
                    <tbody>
                      <tr>
                        <td id="file-stuff-hbs-L1" class="blob-num js-line-number" data-line-number="1"></td>
                        <td id="file-stuff-hbs-LC1" class="blob-code blob-code-inner js-file-line"><span class="pl-c1">\{{</span><span class="pl-v">g-map</span> <span class="pl-e"><span class="pl-v">center_changed</span>=</span>(<span class="pl-e"><span class="pl-v">action</span> <span class="pl-v">"myCenterChanged"</span></span>)<span class="pl-c1">}}</span></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="gist-meta">
            made with ❤ by <a href="https://github.com">GitHub</a>
          </div>
        </div>
      </div>
    </code>
  </div>
</p>

<hr>

<p id="click" class="medium-7">
  <h3>click</h3>

  <div class="-mb">
    <small class="-db">Arugments</small>
    <div class="gmaps-inline-code -nml">MouseEvent|IconMouseEvent</div>
  </div>

  <div class="gmaps-snippet">
    <header>Example</header>
    <code>
      <div class="gist">
        <div class="gist-file">
          <div class="gist-data">
            <div class="js-gist-file-update-container js-task-list-container file-box">
              <div id="file-templa-hbs" class="file">
                <div class="blob-wrapper data type-handlebars">
                  <table class="highlight tab-size js-file-line-container" data-tab-size="8">
                    <tbody>
                      <tr>
                        <td id="file-stuff-hbs-L1" class="blob-num js-line-number" data-line-number="1"></td>
                        <td id="file-stuff-hbs-LC1" class="blob-code blob-code-inner js-file-line"><span class="pl-c1">\{{</span><span class="pl-v">g-map</span> <span class="pl-e"><span class="pl-v">click</span>=</span>(<span class="pl-e"><span class="pl-v">action</span> <span class="pl-v">"myClick"</span></span>)<span class="pl-c1">}}</span></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="gist-meta">
            made with ❤ by <a href="https://github.com">GitHub</a>
          </div>
        </div>
      </div>
    </code>
  </div>
</p>

<hr>

<p id="dblclick" class="medium-7">
  <h3>dblclick</h3>

  <div class="-mb">
    <small class="-db">Arugments</small>
    <div class="gmaps-inline-code -nml">MouseEvent</div>
  </div>

  <div class="gmaps-snippet">
    <header>Example</header>
    <code>
      <div class="gist">
        <div class="gist-file">
          <div class="gist-data">
            <div class="js-gist-file-update-container js-task-list-container file-box">
              <div id="file-templa-hbs" class="file">
                <div class="blob-wrapper data type-handlebars">
                  <table class="highlight tab-size js-file-line-container" data-tab-size="8">
                    <tbody>
                      <tr>
                        <td id="file-stuff-hbs-L1" class="blob-num js-line-number" data-line-number="1"></td>
                        <td id="file-stuff-hbs-LC1" class="blob-code blob-code-inner js-file-line"><span class="pl-c1">\{{</span><span class="pl-v">g-map</span> <span class="pl-e"><span class="pl-v">dblclick</span>=</span>(<span class="pl-e"><span class="pl-v">action</span> <span class="pl-v">"myDblclick"</span></span>)<span class="pl-c1">}}</span></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="gist-meta">
            made with ❤ by <a href="https://github.com">GitHub</a>
          </div>
        </div>
      </div>
    </code>
  </div>
</p>

<hr>

<p id="drag" class="medium-7">
  <h3>drag</h3>

  <div class="gmaps-snippet">
    <header>Example</header>
    <code>
      <div class="gist">
        <div class="gist-file">
          <div class="gist-data">
            <div class="js-gist-file-update-container js-task-list-container file-box">
              <div id="file-templa-hbs" class="file">
                <div class="blob-wrapper data type-handlebars">
                  <table class="highlight tab-size js-file-line-container" data-tab-size="8">
                    <tbody>
                      <tr>
                        <td id="file-stuff-hbs-L1" class="blob-num js-line-number" data-line-number="1"></td>
                        <td id="file-stuff-hbs-LC1" class="blob-code blob-code-inner js-file-line"><span class="pl-c1">\{{</span><span class="pl-v">g-map</span> <span class="pl-e"><span class="pl-v">drag</span>=</span>(<span class="pl-e"><span class="pl-v">action</span> <span class="pl-v">"myDrag"</span></span>)<span class="pl-c1">}}</span></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="gist-meta">
            made with ❤ by <a href="https://github.com">GitHub</a>
          </div>
        </div>
      </div>
    </code>
  </div>
</p>

<hr>

<p id="dragend" class="medium-7">
  <h3>dragend</h3>

  <div class="gmaps-snippet">
    <header>Example</header>
    <code>
      <div class="gist">
        <div class="gist-file">
          <div class="gist-data">
            <div class="js-gist-file-update-container js-task-list-container file-box">
              <div id="file-templa-hbs" class="file">
                <div class="blob-wrapper data type-handlebars">
                  <table class="highlight tab-size js-file-line-container" data-tab-size="8">
                    <tbody>
                      <tr>
                        <td id="file-stuff-hbs-L1" class="blob-num js-line-number" data-line-number="1"></td>
                        <td id="file-stuff-hbs-LC1" class="blob-code blob-code-inner js-file-line"><span class="pl-c1">\{{</span><span class="pl-v">g-map</span> <span class="pl-e"><span class="pl-v">dragend</span>=</span>(<span class="pl-e"><span class="pl-v">action</span> <span class="pl-v">"myDragend"</span></span>)<span class="pl-c1">}}</span></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="gist-meta">
            made with ❤ by <a href="https://github.com">GitHub</a>
          </div>
        </div>
      </div>
    </code>
  </div>
</p>

<hr>

<p id="dragstart" class="medium-7">
  <h3>dragstart</h3>

  <div class="gmaps-snippet">
    <header>Example</header>
    <code>
      <div class="gist">
        <div class="gist-file">
          <div class="gist-data">
            <div class="js-gist-file-update-container js-task-list-container file-box">
              <div id="file-templa-hbs" class="file">
                <div class="blob-wrapper data type-handlebars">
                  <table class="highlight tab-size js-file-line-container" data-tab-size="8">
                    <tbody>
                      <tr>
                        <td id="file-stuff-hbs-L1" class="blob-num js-line-number" data-line-number="1"></td>
                        <td id="file-stuff-hbs-LC1" class="blob-code blob-code-inner js-file-line"><span class="pl-c1">\{{</span><span class="pl-v">g-map</span> <span class="pl-e"><span class="pl-v">dragstart</span>=</span>(<span class="pl-e"><span class="pl-v">action</span> <span class="pl-v">"myDragstart"</span></span>)<span class="pl-c1">}}</span></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="gist-meta">
            made with ❤ by <a href="https://github.com">GitHub</a>
          </div>
        </div>
      </div>
    </code>
  </div>
</p>

<hr>

<p id="heading_changed" class="medium-7">
  <h3>heading_changed</h3>

  <div class="-mb">
    <small class="-db">Arugments</small>
    <div class="gmaps-inline-code -nml">heading</div>
  </div>

  <div class="gmaps-snippet">
    <header>Example</header>
    <code>
      <div class="gist">
        <div class="gist-file">
          <div class="gist-data">
            <div class="js-gist-file-update-container js-task-list-container file-box">
              <div id="file-templa-hbs" class="file">
                <div class="blob-wrapper data type-handlebars">
                  <table class="highlight tab-size js-file-line-container" data-tab-size="8">
                    <tbody>
                      <tr>
                        <td id="file-stuff-hbs-L1" class="blob-num js-line-number" data-line-number="1"></td>
                        <td id="file-stuff-hbs-LC1" class="blob-code blob-code-inner js-file-line"><span class="pl-c1">\{{</span><span class="pl-v">g-map</span> <span class="pl-e"><span class="pl-v">heading_changed</span>=</span>(<span class="pl-e"><span class="pl-v">action</span> <span class="pl-v">"myHeadingChanged"</span></span>)<span class="pl-c1">}}</span></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="gist-meta">
            made with ❤ by <a href="https://github.com">GitHub</a>
          </div>
        </div>
      </div>
    </code>
  </div>
</p>

<hr>

<p id="idle" class="medium-7">
  <h3>idle</h3>

  <div class="gmaps-snippet">
    <header>Example</header>
    <code>
      <div class="gist">
        <div class="gist-file">
          <div class="gist-data">
            <div class="js-gist-file-update-container js-task-list-container file-box">
              <div id="file-templa-hbs" class="file">
                <div class="blob-wrapper data type-handlebars">
                  <table class="highlight tab-size js-file-line-container" data-tab-size="8">
                    <tbody>
                      <tr>
                        <td id="file-stuff-hbs-L1" class="blob-num js-line-number" data-line-number="1"></td>
                        <td id="file-stuff-hbs-LC1" class="blob-code blob-code-inner js-file-line"><span class="pl-c1">\{{</span><span class="pl-v">g-map</span> <span class="pl-e"><span class="pl-v">idle</span>=</span>(<span class="pl-e"><span class="pl-v">action</span> <span class="pl-v">"myIdle"</span></span>)<span class="pl-c1">}}</span></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="gist-meta">
            made with ❤ by <a href="https://github.com">GitHub</a>
          </div>
        </div>
      </div>
    </code>
  </div>
</p>

<hr>

<p id="loaded" class="medium-7">
  <h3>loaded</h3>

  <div class="gmaps-snippet">
    <header>Example</header>
    <code>
      <div class="gist">
        <div class="gist-file">
          <div class="gist-data">
            <div class="js-gist-file-update-container js-task-list-container file-box">
              <div id="file-templa-hbs" class="file">
                <div class="blob-wrapper data type-handlebars">
                  <table class="highlight tab-size js-file-line-container" data-tab-size="8">
                    <tbody>
                      <tr>
                        <td id="file-stuff-hbs-L1" class="blob-num js-line-number" data-line-number="1"></td>
                        <td id="file-stuff-hbs-LC1" class="blob-code blob-code-inner js-file-line"><span class="pl-c1">\{{</span><span class="pl-v">g-map</span> <span class="pl-e"><span class="pl-v">loaded</span>=</span>(<span class="pl-e"><span class="pl-v">action</span> <span class="pl-v">"myLoaded"</span></span>)<span class="pl-c1">}}</span></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="gist-meta">
            made with ❤ by <a href="https://github.com">GitHub</a>
          </div>
        </div>
      </div>
    </code>
  </div>
</p>

<hr>

<p id="maptypeid_changed" class="medium-7">
  <h3>maptypeid_changed</h3>

  <div class="-mb">
    <small class="-db">Arugments</small>
    <div class="gmaps-inline-code -nml">mapTypeId</div>
  </div>

  <div class="gmaps-snippet">
    <header>Example</header>
    <code>
      <div class="gist">
        <div class="gist-file">
          <div class="gist-data">
            <div class="js-gist-file-update-container js-task-list-container file-box">
              <div id="file-templa-hbs" class="file">
                <div class="blob-wrapper data type-handlebars">
                  <table class="highlight tab-size js-file-line-container" data-tab-size="8">
                    <tbody>
                      <tr>
                        <td id="file-stuff-hbs-L1" class="blob-num js-line-number" data-line-number="1"></td>
                        <td id="file-stuff-hbs-LC1" class="blob-code blob-code-inner js-file-line"><span class="pl-c1">\{{</span><span class="pl-v">g-map</span> <span class="pl-e"><span class="pl-v">maptypeid_changed</span>=</span>(<span class="pl-e"><span class="pl-v">action</span> <span class="pl-v">"myMapTypeIdChanged"</span></span>)<span class="pl-c1">}}</span></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="gist-meta">
            made with ❤ by <a href="https://github.com">GitHub</a>
          </div>
        </div>
      </div>
    </code>
  </div>
</p>

<hr>

<p id="mousemove" class="medium-7">
  <h3>mousemove</h3>

  <div class="-mb">
    <small class="-db">Arugments</small>
    <div class="gmaps-inline-code -nml">MouseEvent</div>
  </div>

  <div class="gmaps-snippet">
    <header>Example</header>
    <code>
      <div class="gist">
        <div class="gist-file">
          <div class="gist-data">
            <div class="js-gist-file-update-container js-task-list-container file-box">
              <div id="file-templa-hbs" class="file">
                <div class="blob-wrapper data type-handlebars">
                  <table class="highlight tab-size js-file-line-container" data-tab-size="8">
                    <tbody>
                      <tr>
                        <td id="file-stuff-hbs-L1" class="blob-num js-line-number" data-line-number="1"></td>
                        <td id="file-stuff-hbs-LC1" class="blob-code blob-code-inner js-file-line"><span class="pl-c1">\{{</span><span class="pl-v">g-map</span> <span class="pl-e"><span class="pl-v">mousemove</span>=</span>(<span class="pl-e"><span class="pl-v">action</span> <span class="pl-v">"myMousemove"</span></span>)<span class="pl-c1">}}</span></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="gist-meta">
            made with ❤ by <a href="https://github.com">GitHub</a>
          </div>
        </div>
      </div>
    </code>
  </div>
</p>

<hr>

<p id="mouseout" class="medium-7">
  <h3>mouseout</h3>

  <div class="-mb">
    <small class="-db">Arugments</small>
    <div class="gmaps-inline-code -nml">MouseEvent</div>
  </div>

  <div class="gmaps-snippet">
    <header>Example</header>
    <code>
      <div class="gist">
        <div class="gist-file">
          <div class="gist-data">
            <div class="js-gist-file-update-container js-task-list-container file-box">
              <div id="file-templa-hbs" class="file">
                <div class="blob-wrapper data type-handlebars">
                  <table class="highlight tab-size js-file-line-container" data-tab-size="8">
                    <tbody>
                      <tr>
                        <td id="file-stuff-hbs-L1" class="blob-num js-line-number" data-line-number="1"></td>
                        <td id="file-stuff-hbs-LC1" class="blob-code blob-code-inner js-file-line"><span class="pl-c1">\{{</span><span class="pl-v">g-map</span> <span class="pl-e"><span class="pl-v">mouseout</span>=</span>(<span class="pl-e"><span class="pl-v">action</span> <span class="pl-v">"myMouseout"</span></span>)<span class="pl-c1">}}</span></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="gist-meta">
            made with ❤ by <a href="https://github.com">GitHub</a>
          </div>
        </div>
      </div>
    </code>
  </div>
</p>

<hr>

<p id="mouseover" class="medium-7">
  <h3>mouseover</h3>

  <div class="-mb">
    <small class="-db">Arugments</small>
    <div class="gmaps-inline-code -nml">MouseEvent</div>
  </div>

  <div class="gmaps-snippet">
    <header>Example</header>
    <code>
      <div class="gist">
        <div class="gist-file">
          <div class="gist-data">
            <div class="js-gist-file-update-container js-task-list-container file-box">
              <div id="file-templa-hbs" class="file">
                <div class="blob-wrapper data type-handlebars">
                  <table class="highlight tab-size js-file-line-container" data-tab-size="8">
                    <tbody>
                      <tr>
                        <td id="file-stuff-hbs-L1" class="blob-num js-line-number" data-line-number="1"></td>
                        <td id="file-stuff-hbs-LC1" class="blob-code blob-code-inner js-file-line"><span class="pl-c1">\{{</span><span class="pl-v">g-map</span> <span class="pl-e"><span class="pl-v">mouseover</span>=</span>(<span class="pl-e"><span class="pl-v">action</span> <span class="pl-v">"myMouseover"</span></span>)<span class="pl-c1">}}</span></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="gist-meta">
            made with ❤ by <a href="https://github.com">GitHub</a>
          </div>
        </div>
      </div>
    </code>
  </div>
</p>

<hr>

<p id="projection_changed" class="medium-7">
  <h3>projection_changed</h3>

  <div class="gmaps-snippet">
    <header>Example</header>
    <code>
      <div class="gist">
        <div class="gist-file">
          <div class="gist-data">
            <div class="js-gist-file-update-container js-task-list-container file-box">
              <div id="file-templa-hbs" class="file">
                <div class="blob-wrapper data type-handlebars">
                  <table class="highlight tab-size js-file-line-container" data-tab-size="8">
                    <tbody>
                      <tr>
                        <td id="file-stuff-hbs-L1" class="blob-num js-line-number" data-line-number="1"></td>
                        <td id="file-stuff-hbs-LC1" class="blob-code blob-code-inner js-file-line"><span class="pl-c1">\{{</span><span class="pl-v">g-map</span> <span class="pl-e"><span class="pl-v">projection_changed</span>=</span>(<span class="pl-e"><span class="pl-v">action</span> <span class="pl-v">"myProjectionChanged"</span></span>)<span class="pl-c1">}}</span></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="gist-meta">
            made with ❤ by <a href="https://github.com">GitHub</a>
          </div>
        </div>
      </div>
    </code>
  </div>
</p>

<hr>

<p id="resize" class="medium-7">
  <h3>resize</h3>

  <div class="gmaps-snippet">
    <header>Example</header>
    <code>
      <div class="gist">
        <div class="gist-file">
          <div class="gist-data">
            <div class="js-gist-file-update-container js-task-list-container file-box">
              <div id="file-templa-hbs" class="file">
                <div class="blob-wrapper data type-handlebars">
                  <table class="highlight tab-size js-file-line-container" data-tab-size="8">
                    <tbody>
                      <tr>
                        <td id="file-stuff-hbs-L1" class="blob-num js-line-number" data-line-number="1"></td>
                        <td id="file-stuff-hbs-LC1" class="blob-code blob-code-inner js-file-line"><span class="pl-c1">\{{</span><span class="pl-v">g-map</span> <span class="pl-e"><span class="pl-v">resize</span>=</span>(<span class="pl-e"><span class="pl-v">action</span> <span class="pl-v">"myResize"</span></span>)<span class="pl-c1">}}</span></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="gist-meta">
            made with ❤ by <a href="https://github.com">GitHub</a>
          </div>
        </div>
      </div>
    </code>
  </div>
</p>

<hr>

<p id="rightclick" class="medium-7">
  <h3>rightclick</h3>

  <div class="-mb">
    <small class="-db">Arugments</small>
    <div class="gmaps-inline-code -nml">MouseEvent</div>
  </div>

  <div class="gmaps-snippet">
    <header>Example</header>
    <code>
      <div class="gist">
        <div class="gist-file">
          <div class="gist-data">
            <div class="js-gist-file-update-container js-task-list-container file-box">
              <div id="file-templa-hbs" class="file">
                <div class="blob-wrapper data type-handlebars">
                  <table class="highlight tab-size js-file-line-container" data-tab-size="8">
                    <tbody>
                      <tr>
                        <td id="file-stuff-hbs-L1" class="blob-num js-line-number" data-line-number="1"></td>
                        <td id="file-stuff-hbs-LC1" class="blob-code blob-code-inner js-file-line"><span class="pl-c1">\{{</span><span class="pl-v">g-map</span> <span class="pl-e"><span class="pl-v">rightclick</span>=</span>(<span class="pl-e"><span class="pl-v">action</span> <span class="pl-v">"myRightClick"</span></span>)<span class="pl-c1">}}</span></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="gist-meta">
            made with ❤ by <a href="https://github.com">GitHub</a>
          </div>
        </div>
      </div>
    </code>
  </div>
</p>

<hr>

<p id="tilesloaded" class="medium-7">
  <h3>tilesloaded</h3>

  <div class="gmaps-snippet">
    <header>Example</header>
    <code>
      <div class="gist">
        <div class="gist-file">
          <div class="gist-data">
            <div class="js-gist-file-update-container js-task-list-container file-box">
              <div id="file-templa-hbs" class="file">
                <div class="blob-wrapper data type-handlebars">
                  <table class="highlight tab-size js-file-line-container" data-tab-size="8">
                    <tbody>
                      <tr>
                        <td id="file-stuff-hbs-L1" class="blob-num js-line-number" data-line-number="1"></td>
                        <td id="file-stuff-hbs-LC1" class="blob-code blob-code-inner js-file-line"><span class="pl-c1">\{{</span><span class="pl-v">g-map</span> <span class="pl-e"><span class="pl-v">tilesloaded</span>=</span>(<span class="pl-e"><span class="pl-v">action</span> <span class="pl-v">"myTilesLoaded"</span></span>)<span class="pl-c1">}}</span></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="gist-meta">
            made with ❤ by <a href="https://github.com">GitHub</a>
          </div>
        </div>
      </div>
    </code>
  </div>
</p>

<hr>

<p id="tilt_changed" class="medium-7">
  <h3>tilt_changed</h3>

  <div class="-mb">
    <small class="-db">Arugments</small>
    <div class="gmaps-inline-code -nml">tilt</div>
  </div>

  <div class="gmaps-snippet">
    <header>Example</header>
    <code>
      <div class="gist">
        <div class="gist-file">
          <div class="gist-data">
            <div class="js-gist-file-update-container js-task-list-container file-box">
              <div id="file-templa-hbs" class="file">
                <div class="blob-wrapper data type-handlebars">
                  <table class="highlight tab-size js-file-line-container" data-tab-size="8">
                    <tbody>
                      <tr>
                        <td id="file-stuff-hbs-L1" class="blob-num js-line-number" data-line-number="1"></td>
                        <td id="file-stuff-hbs-LC1" class="blob-code blob-code-inner js-file-line"><span class="pl-c1">\{{</span><span class="pl-v">g-map</span> <span class="pl-e"><span class="pl-v">tilt_changed</span>=</span>(<span class="pl-e"><span class="pl-v">action</span> <span class="pl-v">"myTiltChanged"</span></span>)<span class="pl-c1">}}</span></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="gist-meta">
            made with ❤ by <a href="https://github.com">GitHub</a>
          </div>
        </div>
      </div>
    </code>
  </div>
</p>

<hr>

<p id="zoom_changed" class="medium-7">
  <h3>zoom_changed</h3>

  <div class="-mb">
    <small class="-db">Arugments</small>
    <div class="gmaps-inline-code -nml">zoom</div>
  </div>

  <div class="gmaps-snippet">
    <header>Example</header>
    <code>
      <div class="gist">
        <div class="gist-file">
          <div class="gist-data">
            <div class="js-gist-file-update-container js-task-list-container file-box">
              <div id="file-templa-hbs" class="file">
                <div class="blob-wrapper data type-handlebars">
                  <table class="highlight tab-size js-file-line-container" data-tab-size="8">
                    <tbody>
                      <tr>
                        <td id="file-stuff-hbs-L1" class="blob-num js-line-number" data-line-number="1"></td>
                        <td id="file-stuff-hbs-LC1" class="blob-code blob-code-inner js-file-line"><span class="pl-c1">\{{</span><span class="pl-v">g-map</span> <span class="pl-e"><span class="pl-v">zoom_changed</span>=</span>(<span class="pl-e"><span class="pl-v">action</span> <span class="pl-v">"myZoomChanged"</span></span>)<span class="pl-c1">}}</span></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="gist-meta">
            made with ❤ by <a href="https://github.com">GitHub</a>
          </div>
        </div>
      </div>
    </code>
  </div>
</p>
