<h2>Events</h2>

<ul>
  <li><a {{action "scrollToId" 'mapType'}}>mapType</a></li>
  <li><a {{action "scrollToId" 'draggable'}}>draggable</a></li>
  <li><a {{action "scrollToId" 'click'}}>click</a></li>
  <li><a {{action "scrollToId" 'bounds_changed'}}>bounds_changed</a></li>
  <li><a {{action "scrollToId" 'center_changed'}}>center_changed</a></li>
  <li><a {{action "scrollToId" 'dblclick'}}>dblclick</a></li>
  <li><a {{action "scrollToId" 'drag'}}>drag</a></li>
  <li><a {{action "scrollToId" 'dragend'}}>dragend</a></li>
  <li><a {{action "scrollToId" 'dragstart'}}>dragstart</a></li>
  <li><a {{action "scrollToId" 'heading_changed'}}>heading_changed</a></li>
  <li><a {{action "scrollToId" 'idle'}}>idle</a></li>
  <li><a {{action "scrollToId" 'maptypeid_changed'}}>maptypeid_changed</a></li>
  <li><a {{action "scrollToId" 'mousemove'}}>mousemove</a></li>
  <li><a {{action "scrollToId" 'mouseout'}}>mouseout</a></li>
  <li><a {{action "scrollToId" 'mouseover'}}>mouseover</a></li>
  <li><a {{action "scrollToId" 'projection_changed'}}>projection_changed</a></li>
  <li><a {{action "scrollToId" 'resize'}}>resize</a></li>
  <li><a {{action "scrollToId" 'rightclick'}}>rightclick</a></li>
  <li><a {{action "scrollToId" 'tilesloaded'}}>tilesloaded</a></li>
  <li><a {{action "scrollToId" 'tilt_changed'}}>tilt_changed</a></li>
  <li><a {{action "scrollToId" 'zoom_changed'}}>zoom_changed</a></li>
</ul>

<p class="medium-7 large-5">
  Component event docs coming soon.
</p>
