<h2>Events</h2>

<ul class="-lmb">
  <li><a {{action "scrollToId" 'selectionsMarker'}}>selectionsMarker</a></li>
  <li><a {{action "scrollToId" 'selectionsCircle'}}>selectionsCircle</a></li>
  <li><a {{action "scrollToId" 'selectionsRectangle'}}>selectionsRectangle</a></li>
  <li><a {{action "scrollToId" 'selectionsPolygon'}}>selectionsPolygon</a></li>
  <li><a {{action "scrollToId" 'selectionsPolyline'}}>selectionsPolyline</a></li>
</ul>

<div class="grid-content -np -mb">
  {{g-maps 
    class="gmaps-docs-map"
    lat=lat
    lng=lng
    zoom=zoom
    selections=selections
    selectionsMarker="selectionsMarker"
    selectionsCircle="selectionsCircle"
    selectionsRectangle="selectionsRectangle"
    selectionsPolygon="selectionsPolygon"
    selectionsPolyline="selectionsPolyline"
    markers=markers
    circles=circles
    polygons=polygons
    polylines=polylines
    rectangles=rectangles}}
</div>

<hr>

<p id="selectionsMarker" class="medium-7">
  <h3>selectionsMarker</h3>

  <div class="-mb">
    <small class="-db">Description</small>
    Binds the marker selection event to an action.
  </div>

  <div class="gmaps-snippet -lmb">
    <header>Adding</header>
    <code>
      <div class="gist">
        <div class="gist-file">
          <div class="gist-data">
            <div class="js-gist-file-update-container js-task-list-container file-box">
              <div id="file-templa-hbs" class="file">
                <div class="blob-wrapper data type-handlebars">
                  <table class="highlight tab-size js-file-line-container" data-tab-size="8">
                    <tbody><tr>
                      <td id="file-templa-hbs-L1" class="blob-num js-line-number" data-line-number="1"></td>
                      <td id="file-templa-hbs-LC1" class="blob-code blob-code-inner js-file-line"><span class="pl-c1">\{{</span><span class="pl-v">g-maps</span> selectionsMarker="onMarkerSelect"<span class="pl-c1">}}</span></td>
                    </tr>
                  </tbody></table>
                </div>
              </div>
            </div>
          </div>
          <div class="gist-meta">
            made with ❤ by <a href="https://github.com">GitHub</a>
          </div>
        </div>
      </div>
    </code>
  </div>
</p>

<hr>

<p id="selectionsCircle" class="medium-7">
  <h3>selectionsCircle</h3>

  <div class="-mb">
    <small class="-db">Description</small>
    Binds the circle selection event to an action.
  </div>

  <div class="gmaps-snippet -lmb">
    <header>Adding</header>
    <code>
      <div class="gist">
        <div class="gist-file">
          <div class="gist-data">
            <div class="js-gist-file-update-container js-task-list-container file-box">
              <div id="file-templa-hbs" class="file">
                <div class="blob-wrapper data type-handlebars">
                  <table class="highlight tab-size js-file-line-container" data-tab-size="8">
                    <tbody><tr>
                      <td id="file-templa-hbs-L1" class="blob-num js-line-number" data-line-number="1"></td>
                      <td id="file-templa-hbs-LC1" class="blob-code blob-code-inner js-file-line"><span class="pl-c1">\{{</span><span class="pl-v">g-maps</span> selectionsCircle="onCircleSelect"<span class="pl-c1">}}</span></td>
                    </tr>
                  </tbody></table>
                </div>
              </div>
            </div>
          </div>
          <div class="gist-meta">
            made with ❤ by <a href="https://github.com">GitHub</a>
          </div>
        </div>
      </div>
    </code>
  </div>
</p>

<hr>

<p id="selectionsRectangle" class="medium-7">
  <h3>selectionsRectangle</h3>

  <div class="-mb">
    <small class="-db">Description</small>
    Binds the rectangle selection event to an action.
  </div>

  <div class="gmaps-snippet -lmb">
    <header>Adding</header>
    <code>
      <div class="gist">
        <div class="gist-file">
          <div class="gist-data">
            <div class="js-gist-file-update-container js-task-list-container file-box">
              <div id="file-templa-hbs" class="file">
                <div class="blob-wrapper data type-handlebars">
                  <table class="highlight tab-size js-file-line-container" data-tab-size="8">
                    <tbody><tr>
                      <td id="file-templa-hbs-L1" class="blob-num js-line-number" data-line-number="1"></td>
                      <td id="file-templa-hbs-LC1" class="blob-code blob-code-inner js-file-line"><span class="pl-c1">\{{</span><span class="pl-v">g-maps</span> selectionsRectangle="onRectSelect"<span class="pl-c1">}}</span></td>
                    </tr>
                  </tbody></table>
                </div>
              </div>
            </div>
          </div>
          <div class="gist-meta">
            made with ❤ by <a href="https://github.com">GitHub</a>
          </div>
        </div>
      </div>
    </code>
  </div>
</p>

<hr>

<p id="selectionsPolygon" class="medium-7">
  <h3>selectionsPolygon</h3>

  <div class="-mb">
    <small class="-db">Description</small>
    Binds the polygon selection event to an action.
  </div>

  <div class="gmaps-snippet -lmb">
    <header>Adding</header>
    <code>
      <div class="gist">
        <div class="gist-file">
          <div class="gist-data">
            <div class="js-gist-file-update-container js-task-list-container file-box">
              <div id="file-templa-hbs" class="file">
                <div class="blob-wrapper data type-handlebars">
                  <table class="highlight tab-size js-file-line-container" data-tab-size="8">
                    <tbody><tr>
                      <td id="file-templa-hbs-L1" class="blob-num js-line-number" data-line-number="1"></td>
                      <td id="file-templa-hbs-LC1" class="blob-code blob-code-inner js-file-line"><span class="pl-c1">\{{</span><span class="pl-v">g-maps</span> selectionsPolygon="onPolygonSelect"<span class="pl-c1">}}</span></td>
                    </tr>
                  </tbody></table>
                </div>
              </div>
            </div>
          </div>
          <div class="gist-meta">
            made with ❤ by <a href="https://github.com">GitHub</a>
          </div>
        </div>
      </div>
    </code>
  </div>
</p>

<hr>

<p id="selectionsPolyline" class="medium-7">
  <h3>selectionsPolyline</h3>

  <div class="-mb">
    <small class="-db">Description</small>
    Binds the polyline selection event to an action.
  </div>

  <div class="gmaps-snippet -lmb">
    <header>Adding</header>
    <code>
      <div class="gist">
        <div class="gist-file">
          <div class="gist-data">
            <div class="js-gist-file-update-container js-task-list-container file-box">
              <div id="file-templa-hbs" class="file">
                <div class="blob-wrapper data type-handlebars">
                  <table class="highlight tab-size js-file-line-container" data-tab-size="8">
                    <tbody><tr>
                      <td id="file-templa-hbs-L1" class="blob-num js-line-number" data-line-number="1"></td>
                      <td id="file-templa-hbs-LC1" class="blob-code blob-code-inner js-file-line"><span class="pl-c1">\{{</span><span class="pl-v">g-maps</span> selectionsPolyline="onPolylineSelect"<span class="pl-c1">}}</span></td>
                    </tr>
                  </tbody></table>
                </div>
              </div>
            </div>
          </div>
          <div class="gist-meta">
            made with ❤ by <a href="https://github.com">GitHub</a>
          </div>
        </div>
      </div>
    </code>
  </div>
</p>