<h2>Rectangle Properties</h2>

<div class="grid-block -mb">
  <ul class="grid-content large-3 medium-4 small-12 -nml -nmb -lis-none">
    <li><a {{action "scrollToId" "clickable"}}>clickable</a></li>
    <li><a {{action "scrollToId" "draggable"}}>draggable</a></li>
    <li><a {{action "scrollToId" "editable"}}>editable</a></li>
    <li><a {{action "scrollToId" "fillColor"}}>fillColor</a></li>
  </ul>
  <ul class="grid-content large-3 medium-4 small-12 -nml -nmb -lis-none">
    <li><a {{action "scrollToId" "fillOpacity"}}>fillOpacity</a></li>
    <li><a {{action "scrollToId" "strokeColor"}}>strokeColor</a></li>
    <li><a {{action "scrollToId" "strokeOpacity"}}>strokeOpacity</a></li>
    <li><a {{action "scrollToId" "strokePosition"}}>strokePosition</a></li>
  </ul>
  <ul class="grid-content large-3 medium-4 small-12 -nml -nmb -lis-none">
    <li><a {{action "scrollToId" "strokeWeight"}}>strokeWeight</a></li>
    <li><a {{action "scrollToId" "visible"}}>visible</a></li>
    <li><a {{action "scrollToId" "zIndex"}}>zIndex</a></li>
  </ul>
</div>

<h2>Rectangle Events</h2>

<div class="grid-block -mb">
  <ul class="grid-content large-3 medium-4 small-12 -nml -nmb -lis-none">
    <li><a {{action "scrollToId" "bounds_changed"}}>bounds_changed</a></li>
    <li><a {{action "scrollToId" "click"}}>click</a></li>
    <li><a {{action "scrollToId" "dblclick"}}>dblclick</a></li>
    <li><a {{action "scrollToId" "drag"}}>drag</a></li>
  </ul>
  <ul class="grid-content large-3 medium-4 small-12 -nml -nmb -lis-none">
    <li><a {{action "scrollToId" "dragend"}}>dragend</a></li>
    <li><a {{action "scrollToId" "dragstart"}}>dragstart</a></li>
    <li><a {{action "scrollToId" "mousedown"}}>mousedown</a></li>
    <li><a {{action "scrollToId" "mousemove"}}>mousemove</a></li>
  </ul>
  <ul class="grid-content large-3 medium-4 small-12 -nml -nmb -lis-none">
    <li><a {{action "scrollToId" "mouseout"}}>mouseout</a></li>
    <li><a {{action "scrollToId" "mouseover"}}>mouseover</a></li>
    <li><a {{action "scrollToId" "mouseup"}}>mouseup</a></li>
    <li><a {{action "scrollToId" "rightclick"}}>rightclick</a></li>
  </ul>
</div>

<div class="grid-content -np -lmb">
  {{#g-map
    class="gmaps-docs-map"
    lat=lat
    lng=lng
    zoom=zoom
    draggable=false
    disableDoubleClickZoom=true
    streetViewControl=false
    mapTypeControl=false
    scrollwheel=false
    zoomControl=false as |map|}}

    {{#if useOptions}}
      {{g-map-rectangle map
        options=options
        bounds_changed=(pipe (route-action "updateBounds") (route-action "registerEvent" "bounds_changed"))
        click=(route-action "registerEvent" "click")
        dblclick=(route-action "registerEvent" "dblclick")
        drag=(route-action "registerEvent" "drag")
        dragend=(route-action "registerEvent" "dragend")
        dragstart=(route-action "registerEvent" "dragstart")
        mousedown=(route-action "registerEvent" "mousedown")
        mousemove=(route-action "registerEvent" "mousemove")
        mouseout=(route-action "registerEvent" "mouseout")
        mouseover=(route-action "registerEvent" "mouseover")
        mouseup=(route-action "registerEvent" "mouseup")
        rightclick=(route-action "registerEvent" "rightclick")}}
    {{else}}
      {{g-map-rectangle map
        bounds=options.bounds
        clickable=options.clickable
        draggable=options.draggable
        editable=options.editable
        fillColor=options.fillColor
        fillOpacity=options.fillOpacity
        strokeColor=options.strokeColor
        strokeOpacity=options.strokeOpacity
        strokePosition=options.strokePosition
        strokeWeight=options.strokeWeight
        visible=options.visible
        zIndex=options.zIndex
        bounds_changed=(pipe (route-action "updateBounds") (route-action "registerEvent" "bounds_changed"))
        click=(route-action "registerEvent" "click")
        dblclick=(route-action "registerEvent" "dblclick")
        drag=(route-action "registerEvent" "drag")
        dragend=(route-action "registerEvent" "dragend")
        dragstart=(route-action "registerEvent" "dragstart")
        mousedown=(route-action "registerEvent" "mousedown")
        mousemove=(route-action "registerEvent" "mousemove")
        mouseout=(route-action "registerEvent" "mouseout")
        mouseover=(route-action "registerEvent" "mouseover")
        mouseup=(route-action "registerEvent" "mouseup")
        rightclick=(route-action "registerEvent" "rightclick")}}
    {{/if}}
  {{/g-map}}

  <button data-test="reset-state" style="display: none;" {{action (route-action "resetMapState" true)}}></button>
  <button data-test="use-options" style="display: none;" {{action (toggle-action "useOptions" this)}}></button>
</div>

<h3 class="grid-content -npl">Active Events</h3>

<div id="g-map-event-states" class="grid-block -pb">
  <div class="grid-content small-12 medium-4 -smb">
    <div class="gmaps-fade-text {{if isbounds_changed '-fade'}}" data-test-updated={{if wasbounds_changed 'bounds_changed'}}>bounds_changed</div>
    <div class="gmaps-fade-text {{if isclick '-fade'}}" data-test-updated={{if wasclick 'click'}}>click</div>
    <div class="gmaps-fade-text {{if isdblclick '-fade'}}" data-test-updated={{if wasdblclick 'dblclick'}}>dblclick</div>
    <div class="gmaps-fade-text {{if isdrag '-fade'}}" data-test-updated={{if wasdrag 'drag'}}>drag</div>
    <div class="gmaps-fade-text {{if isdragend '-fade'}}" data-test-updated={{if wasdragend 'dragend'}}>dragend</div>
    <div class="gmaps-fade-text {{if isdragstart '-fade'}}" data-test-updated={{if wasdragstart 'dragstart'}}>dragstart</div>
  </div>

  <div class="grid-content small-12 medium-4 -smb">
    <div class="gmaps-fade-text {{if ismousedown '-fade'}}" data-test-updated={{if wasmousedown 'mousedown'}}>mousedown</div>
    <div class="gmaps-fade-text {{if ismousemove '-fade'}}" data-test-updated={{if wasmousemove 'mousemove'}}>mousemove</div>
    <div class="gmaps-fade-text {{if ismouseout '-fade'}}" data-test-updated={{if wasmouseout 'mouseout'}}>mouseout</div>
    <div class="gmaps-fade-text {{if ismouseover '-fade'}}" data-test-updated={{if wasmouseover 'mouseover'}}>mouseover</div>
  </div>

  <div class="grid-content small-12 medium-4 -smb">
    <div class="gmaps-fade-text {{if ismouseup '-fade'}}" data-test-updated={{if wasmouseup 'mouseup'}}>mouseup</div>
    <div class="gmaps-fade-text {{if isrightclick '-fade'}}" data-test-updated={{if wasrightclick 'rightclick'}}>rightclick</div>
  </div>
</div>

<div class="grid-block -lmb">
  <div class="grid-content small-6 medium-4 -smb">
    <small class="-db" style="margin-bottom: 5px;">Bounds</small>
    <div class="th-google-button-bar">
      <button
        class="th-google-button--xsmall -fz-large -np"
        {{action (route-action "updateFirstBound" -0.5)}}
        disabled={{lte options.path.length 3}}>-</button>
      <button data-test-value="path" class="th-google-button--xsmall">{{slice rectLat 0 5}}, {{slice rectLng 0 5}}</button>
      <button
        class="th-google-button--xsmall -fz-large -np"
        data-test-update="bounds"
        {{action (route-action "updateFirstBound")}}
        disabled={{gte options.path.length 10}}>+</button>
    </div>
  </div>

  <div class="grid-content small-6 medium-4 -mb">
    <small class="-db -smb">clickable</small>
    <button
      class="th-google-button--xsmall -ilb"
      data-test-update="clickable"
      {{action (route-action "toggleOption" "clickable")}}>{{if options.clickable 'Enabled' 'Disabled'}}</button>
  </div>

  <div class="grid-content small-6 medium-4 -mb">
    <small class="-db -smb">draggable</small>
    <button
      class="th-google-button--xsmall -ilb"
      data-test-update="draggable"
      {{action (route-action "toggleOption" "draggable")}}>{{if options.draggable 'Enabled' 'Disabled'}}</button>
  </div>

  <div class="grid-content small-6 medium-3 -mb">
    <small class="-db -smb">editable</small>
    <button
      class="th-google-button--xsmall -ilb"
      data-test-update="editable"
      {{action (route-action "toggleOption" "editable")}}>{{if options.editable 'Enabled' 'Disabled'}}</button>
  </div>

  <div class="grid-content small-6 medium-3 -smb">
    <small class="-db -smb">fillColor</small>
    <button
      class="th-google-button--xsmall -ilb"
      data-test-update="fillColor"
      {{action (route-action "toggleColor" "fillColor")}}>{{if options.fillColor 'Custom' 'Default'}}</button>
  </div>

  <div class="grid-content small-6 medium-3 -smb">
    <small class="-db" style="margin-bottom: 5px;">fillOpacity</small>
    <div class="th-google-button-bar">
      <button
      class="th-google-button--xsmall -fz-large -np"
      {{action (route-action "decrement" "fillOpacity" 0.1)}}
      data-test-update="fillOpacity"
      disabled={{lte options.fillOpacity 0.1}}>-</button>
      <button data-test-value="fillOpacity" class="th-google-button--xsmall">{{slice options.fillOpacity 0 4}}</button>
      <button
      class="th-google-button--xsmall -fz-large -np"
      {{action (route-action "increment" "fillOpacity" 0.1)}}
      disabled={{gte options.fillOpacity 0.99}}>+</button>
    </div>
  </div>

  <div class="grid-content small-6 medium-3 -smb">
    <small class="-db" style="margin-bottom: 5px;">strokeColor</small>
    <button
      class="th-google-button--xsmall -ilb"
      data-test-update="strokeColor"
      {{action (route-action "toggleColor" "strokeColor")}}>{{if options.strokeColor 'Custom' 'Default'}}</button>
  </div>

  <div class="grid-content small-6 medium-3 -smb">
    <small class="-db" style="margin-bottom: 5px;">strokeOpacity</small>
    <div class="th-google-button-bar">
      <button
        class="th-google-button--xsmall -fz-large -np"
        {{action (route-action "decrement" "strokeOpacity" 0.1)}}
        data-test-update="strokeOpacity"
        disabled={{lte options.strokeOpacity 0.1}}>-</button>
      <button data-test-value="strokeOpacity" class="th-google-button--xsmall">{{slice options.strokeOpacity 0 4}}</button>
      <button
        class="th-google-button--xsmall -fz-large -np"
        {{action (route-action "increment" "strokeOpacity" 0.1)}}
        disabled={{gte options.strokeOpacity 0.99}}>+</button>
    </div>
  </div>

  <div class="grid-content small-6 medium-3 -smb">
    <small class="-db" style="margin-bottom: 5px;">strokeWeight</small>
    <div class="th-google-button-bar">
      <button
      class="th-google-button--xsmall -fz-large -np"
      {{action (route-action "decrement" "strokeWeight" 1)}}
      data-test-update="strokeWeight"
      disabled={{lte options.strokeWeight 1}}>-</button>
      <button data-test-value="strokeWeight" class="th-google-button--xsmall">{{slice options.strokeWeight 0 4}}</button>
      <button
      class="th-google-button--xsmall -fz-large -np"
      {{action (route-action "increment" "strokeWeight" 1)}}
      disabled={{gte options.strokeWeight 12}}>+</button>
    </div>
  </div>

  <div class="grid-content small-6 medium-3 -mb">
    <small class="-db -smb">visible</small>
    <button
      class="th-google-button--xsmall -ilb"
      data-test-update="visible"
      {{action (route-action "toggleOption" "visible")}}>{{if options.visible 'Enabled' 'Disabled'}}</button>
  </div>

  <div class="grid-content small-6 medium-3 -smb">
    <small class="-db" style="margin-bottom: 5px;">zIndex</small>
    <div class="th-google-button-bar">
      <button
      class="th-google-button--xsmall -fz-large -np"
      {{action (route-action "decrement" "zIndex")}}
      data-test-update="zIndex"
      disabled={{eq options.zIndex 0}}>-</button>
      <button data-test-value="zIndex" class="th-google-button--xsmall">{{options.zIndex}}</button>
      <button
      class="th-google-button--xsmall -fz-large -np"
      {{action (route-action "increment" "zIndex")}}
      disabled={{gte options.zIndex 100}}>+</button>
    </div>
  </div>
</div>

<div class="grid-block">
  <div class="grid-content shrink -pb" style="min-height: 59px;">
    <small class="-db -smb">strokePosition</small>
    <div class="th-google-button-bar">
      {{#each strokePositions as |position|}}
        <button class="th-google-button--small
          {{if (eq position options.strokePosition) 'active'}}"
          {{action (route-action "setOption" "strokePosition" position)}}
          data-test-update="strokePosition"
          style="text-transform: none;">
          {{position}}
        </button>
      {{/each}}
    </div>
  </div>
</div>
