<h2>Markers</h2>

<p class="medium-7 large-5">
  <a href="https://developers.google.com/maps/documentation/javascript/3.exp/reference#MarkerOptions" target="_blank">Goolge Map Markers</a> allow you to add an indicator to a specific coordinate. Use Google's default marker, or apply your own custom marker.  Markers support a range of user interactions and are draggable as well.  Also if you want to add context or information about a location you can use the marker's <span class="gmaps-inline-code">infoWindow</span> property.
</p>

<div class="grid-block -spb">
  <div class="grid-content small-12 medium-3 -smb">
    <small class="-db">Latitude</small>
    {{marker.lat}}
  </div>

  <div class="grid-content small-12 medium-3 -smb">
    <small class="-db">Longitude</small>
    {{marker.lng}}
  </div>

  <div class="grid-content small-12 medium-3 -smb">
    <small class="-db">Is Dragging</small>
    {{isMarkerDragging}}
  </div>

  <div class="grid-content small-12 medium-3 -smb">
    <small class="-db">Custom Icon</small>
    <input type="checkbox" value=isCustomIcon {{action "toggleCustomMarker" on="change"}}>
  </div>
</div>

<div class="grid-content -np -lmb">
  {{g-maps class="gmaps-docs-map" lat=lat lng=lng zoom=zoom markers=markers}}
</div>

<article class="grid-block">

  <div class="grid-content gmaps-snippet">
    <header>Supported Marker Config</header>
    <code>
    <div class="gist">
        <div class="gist-file">
          <div class="gist-data">
            <div class="js-gist-file-update-container js-task-list-container file-box">
              <div class="file">
                <div class="blob-wrapper data type-javascript">
                  <table class="highlight tab-size js-file-line-container" data-tab-size="8">
                    <tbody><tr>
                      <td id="file-templa-js-L1" class="blob-num js-line-number" data-line-number="1"></td>
                      <td id="file-templa-js-LC1" class="blob-code blob-code-inner js-file-line"><span class="pl-k">export</span> <span class="pl-k">default</span> Ember.Route.extend({</td>
                    </tr>
                    <tr>
                      <td id="file-templa-js-L2" class="blob-num js-line-number" data-line-number="2"></td>
                      <td id="file-templa-js-LC2" class="blob-code blob-code-inner js-file-line">  <span class="pl-en">setupController</span><span class="pl-k">:</span> <span class="pl-k">function</span>(<span class="pl-smi">controller</span>) {</td>
                    </tr>
                    <tr>
                      <td id="file-templa-js-L3" class="blob-num js-line-number" data-line-number="3"></td>
                      <td id="file-templa-js-LC3" class="blob-code blob-code-inner js-file-line">    controller.setProperties({</td>
                    </tr>
                    <tr>
                      <td id="file-templa-js-L4" class="blob-num js-line-number" data-line-number="4"></td>
                      <td id="file-templa-js-LC4" class="blob-code blob-code-inner js-file-line">      <span class="pl-c">// Must be an Ember Array</span></td>
                    </tr>
                    <tr>
                      <td id="file-templa-js-L5" class="blob-num js-line-number" data-line-number="5"></td>
                      <td id="file-templa-js-LC5" class="blob-code blob-code-inner js-file-line">      markers<span class="pl-k">:</span> Ember.A([</td>
                    </tr>
                    <tr>
                      <td id="file-templa-js-L6" class="blob-num js-line-number" data-line-number="6"></td>
                      <td id="file-templa-js-LC6" class="blob-code blob-code-inner js-file-line">        {</td>
                    </tr>
                    <tr>
                      <td id="file-templa-js-L7" class="blob-num js-line-number" data-line-number="7"></td>
                      <td id="file-templa-js-LC7" class="blob-code blob-code-inner js-file-line">          id<span class="pl-k">:</span> <span class="pl-s"><span class="pl-pds">'</span>unique-id<span class="pl-pds">'</span></span>,        <span class="pl-c">// Recommended</span></td>
                    </tr>
                    <tr>
                      <td id="file-templa-js-L8" class="blob-num js-line-number" data-line-number="8"></td>
                      <td id="file-templa-js-LC8" class="blob-code blob-code-inner js-file-line">          lat<span class="pl-k">:</span> <span class="pl-c1">32.75494243654723</span>, <span class="pl-c">// Required</span></td>
                    </tr>
                    <tr>
                      <td id="file-templa-js-L9" class="blob-num js-line-number" data-line-number="9"></td>
                      <td id="file-templa-js-LC9" class="blob-code blob-code-inner js-file-line">          lng<span class="pl-k">:</span> <span class="pl-k">-</span><span class="pl-c1">86.8359375</span>,       <span class="pl-c">// Required</span></td>
                    </tr>
                    <tr>
                      <td id="file-templa-js-L10" class="blob-num js-line-number" data-line-number="10"></td>
                      <td id="file-templa-js-LC10" class="blob-code blob-code-inner js-file-line">          <span class="pl-en">click</span><span class="pl-k">:</span> <span class="pl-k">function</span>(<span class="pl-smi">event</span>, <span class="pl-smi">marker</span>) {},</td>
                    </tr>
                    <tr>
                      <td id="file-templa-js-L11" class="blob-num js-line-number" data-line-number="11"></td>
                      <td id="file-templa-js-LC11" class="blob-code blob-code-inner js-file-line">          <span class="pl-en">rightclick</span><span class="pl-k">:</span> <span class="pl-k">function</span>(<span class="pl-smi">event</span>, <span class="pl-smi">marker</span>) {},</td>
                    </tr>
                    <tr>
                      <td id="file-templa-js-L12" class="blob-num js-line-number" data-line-number="12"></td>
                      <td id="file-templa-js-LC12" class="blob-code blob-code-inner js-file-line">          <span class="pl-en">dblclick</span><span class="pl-k">:</span> <span class="pl-k">function</span>(<span class="pl-smi">event</span>, <span class="pl-smi">marker</span>) {},</td>
                    </tr>
                    <tr>
                      <td id="file-templa-js-L13" class="blob-num js-line-number" data-line-number="13"></td>
                      <td id="file-templa-js-LC13" class="blob-code blob-code-inner js-file-line">          <span class="pl-en">mouseover</span><span class="pl-k">:</span> <span class="pl-k">function</span>(<span class="pl-smi">event</span>, <span class="pl-smi">marker</span>) {},</td>
                    </tr>
                    <tr>
                      <td id="file-templa-js-L14" class="blob-num js-line-number" data-line-number="14"></td>
                      <td id="file-templa-js-LC14" class="blob-code blob-code-inner js-file-line">          <span class="pl-en">mouseout</span><span class="pl-k">:</span> <span class="pl-k">function</span>(<span class="pl-smi">event</span>, <span class="pl-smi">marker</span>) {},</td>
                    </tr>
                    <tr>
                      <td id="file-templa-js-L15" class="blob-num js-line-number" data-line-number="15"></td>
                      <td id="file-templa-js-LC15" class="blob-code blob-code-inner js-file-line">          <span class="pl-en">mouseup</span><span class="pl-k">:</span> <span class="pl-k">function</span>(<span class="pl-smi">event</span>, <span class="pl-smi">marker</span>) {},</td>
                    </tr>
                    <tr>
                      <td id="file-templa-js-L16" class="blob-num js-line-number" data-line-number="16"></td>
                      <td id="file-templa-js-LC16" class="blob-code blob-code-inner js-file-line">          <span class="pl-en">mousedown</span><span class="pl-k">:</span> <span class="pl-k">function</span>(<span class="pl-smi">event</span>, <span class="pl-smi">marker</span>) {},</td>
                    </tr>
                    <tr>
                      <td id="file-templa-js-L16" class="blob-num js-line-number" data-line-number="16"></td>
                      <td id="file-templa-js-LC16" class="blob-code blob-code-inner js-file-line">          <span class="pl-en">drag</span><span class="pl-k">:</span> <span class="pl-k">function</span>(<span class="pl-smi">event</span>, <span class="pl-smi">marker</span>) {},</td>
                    </tr>
                    <tr>
                      <td id="file-templa-js-L16" class="blob-num js-line-number" data-line-number="16"></td>
                      <td id="file-templa-js-LC16" class="blob-code blob-code-inner js-file-line">          <span class="pl-en">dragstart</span><span class="pl-k">:</span> <span class="pl-k">function</span>(<span class="pl-smi">event</span>, <span class="pl-smi">marker</span>) {},</td>
                    </tr>
                    <tr>
                      <td id="file-templa-js-L16" class="blob-num js-line-number" data-line-number="16"></td>
                      <td id="file-templa-js-LC16" class="blob-code blob-code-inner js-file-line">          <span class="pl-en">dragend</span><span class="pl-k">:</span> <span class="pl-k">function</span>(<span class="pl-smi">event</span>, <span class="pl-smi">marker</span>) {},</td>
                    </tr>
                    <tr>
                      <td id="file-templa-js-L17" class="blob-num js-line-number" data-line-number="17"></td>
                      <td id="file-templa-js-LC17" class="blob-code blob-code-inner js-file-line">          anchorPoint<span class="pl-k">:</span> <span class="pl-k">new</span> <span class="pl-en">google.maps</span>.Point(),</td>
                    </tr>
                    <tr>
                      <td id="file-templa-js-L18" class="blob-num js-line-number" data-line-number="18"></td>
                      <td id="file-templa-js-LC18" class="blob-code blob-code-inner js-file-line">          animation<span class="pl-k">:</span> google.maps.Animation.DROP,</td>
                    </tr>
                    <tr>
                      <td id="file-templa-js-L19" class="blob-num js-line-number" data-line-number="19"></td>
                      <td id="file-templa-js-LC19" class="blob-code blob-code-inner js-file-line">          attribution<span class="pl-k">:</span> <span class="pl-k">new</span> <span class="pl-en">google.maps</span>.Attribution(),</td>
                    </tr>
                    <tr>
                      <td id="file-templa-js-L20" class="blob-num js-line-number" data-line-number="20"></td>
                      <td id="file-templa-js-LC20" class="blob-code blob-code-inner js-file-line">          clickable<span class="pl-k">:</span> <span class="pl-c1">true</span>,</td>
                    </tr>
                    <tr>
                      <td id="file-templa-js-L21" class="blob-num js-line-number" data-line-number="21"></td>
                      <td id="file-templa-js-LC21" class="blob-code blob-code-inner js-file-line">          crossOnDrag<span class="pl-k">:</span> <span class="pl-c1">true</span>,</td>
                    </tr>
                    <tr>
                      <td id="file-templa-js-L22" class="blob-num js-line-number" data-line-number="22"></td>
                      <td id="file-templa-js-LC22" class="blob-code blob-code-inner js-file-line">          cursor<span class="pl-k">:</span> <span class="pl-s"><span class="pl-pds">'</span>pointer<span class="pl-pds">'</span></span>,</td>
                    </tr>
                    <tr>
                      <td id="file-templa-js-L23" class="blob-num js-line-number" data-line-number="23"></td>
                      <td id="file-templa-js-LC23" class="blob-code blob-code-inner js-file-line">          draggable<span class="pl-k">:</span> <span class="pl-c1">true</span>,</td>
                    </tr>
                    <tr>
                      <td id="file-templa-js-L24" class="blob-num js-line-number" data-line-number="24"></td>
                      <td id="file-templa-js-LC24" class="blob-code blob-code-inner js-file-line">          icon<span class="pl-k">:</span> <span class="pl-s"><span class="pl-pds">'</span>beachflag.png<span class="pl-pds">'</span></span>,</td>
                    </tr>
                    <tr>
                      <td id="file-templa-js-L25" class="blob-num js-line-number" data-line-number="25"></td>
                      <td id="file-templa-js-LC25" class="blob-code blob-code-inner js-file-line">          label<span class="pl-k">:</span> <span class="pl-s"><span class="pl-pds">'</span>A<span class="pl-pds">'</span></span>,</td>
                    </tr>
                    <tr>
                      <td id="file-templa-js-L26" class="blob-num js-line-number" data-line-number="26"></td>
                      <td id="file-templa-js-LC26" class="blob-code blob-code-inner js-file-line">          opacity<span class="pl-k">:</span> <span class="pl-c1">0.3</span>,</td>
                    </tr>
                    <tr>
                      <td id="file-templa-js-L27" class="blob-num js-line-number" data-line-number="27"></td>
                      <td id="file-templa-js-LC27" class="blob-code blob-code-inner js-file-line">          optimized<span class="pl-k">:</span> <span class="pl-c1">true</span>,</td>
                    </tr>
                    <tr>
                      <td id="file-templa-js-L28" class="blob-num js-line-number" data-line-number="28"></td>
                      <td id="file-templa-js-LC28" class="blob-code blob-code-inner js-file-line">          place<span class="pl-k">:</span> <span class="pl-k">new</span> <span class="pl-en">google.maps</span>.MarkerPlace(),</td>
                    </tr>
                    <tr>
                      <td id="file-templa-js-L29" class="blob-num js-line-number" data-line-number="29"></td>
                      <td id="file-templa-js-LC29" class="blob-code blob-code-inner js-file-line">          position<span class="pl-k">:</span> <span class="pl-k">new</span> <span class="pl-en">google.maps</span>.LatLng(),</td>
                    </tr>
                    <tr>
                      <td id="file-templa-js-L30" class="blob-num js-line-number" data-line-number="30"></td>
                      <td id="file-templa-js-LC30" class="blob-code blob-code-inner js-file-line">          shape<span class="pl-k">:</span> <span class="pl-k">new</span> <span class="pl-en">google.maps</span>.MarkerShape(),</td>
                    </tr>
                    <tr>
                      <td id="file-templa-js-L31" class="blob-num js-line-number" data-line-number="31"></td>
                      <td id="file-templa-js-LC31" class="blob-code blob-code-inner js-file-line">          title<span class="pl-k">:</span> <span class="pl-s"><span class="pl-pds">'</span>string<span class="pl-pds">'</span></span>,</td>
                    </tr>
                    <tr>
                      <td id="file-templa-js-L32" class="blob-num js-line-number" data-line-number="32"></td>
                      <td id="file-templa-js-LC32" class="blob-code blob-code-inner js-file-line">          visible<span class="pl-k">:</span> <span class="pl-c1">true</span>,</td>
                    </tr>
                    <tr>
                      <td id="file-templa-js-L33" class="blob-num js-line-number" data-line-number="33"></td>
                      <td id="file-templa-js-LC33" class="blob-code blob-code-inner js-file-line">          zIndex<span class="pl-k">:</span> <span class="pl-c1">999</span></td>
                    </tr>
                    <tr>
                      <td id="file-templa-js-L34" class="blob-num js-line-number" data-line-number="34"></td>
                      <td id="file-templa-js-LC34" class="blob-code blob-code-inner js-file-line">        }</td>
                    </tr>
                    <tr>
                      <td id="file-templa-js-L35" class="blob-num js-line-number" data-line-number="35"></td>
                      <td id="file-templa-js-LC35" class="blob-code blob-code-inner js-file-line">      ])</td>
                    </tr>
                    <tr>
                      <td id="file-templa-js-L36" class="blob-num js-line-number" data-line-number="36"></td>
                      <td id="file-templa-js-LC36" class="blob-code blob-code-inner js-file-line">    })</td>
                    </tr>
                    <tr>
                      <td id="file-templa-js-L37" class="blob-num js-line-number" data-line-number="37"></td>
                      <td id="file-templa-js-LC37" class="blob-code blob-code-inner js-file-line">  }</td>
                    </tr>
                    <tr>
                      <td id="file-templa-js-L38" class="blob-num js-line-number" data-line-number="38"></td>
                      <td id="file-templa-js-LC38" class="blob-code blob-code-inner js-file-line">});</td>
                    </tr>
                  </tbody></table>
                </div>
              </div>
            </div>
          </div>
          <div class="gist-meta">
            made with ❤ by <a href="https://github.com">GitHub</a>
          </div>
        </div>
      </div>
    </code>
  </div>
</article>

<p class="medium-7 large-5">
  For in depth documentation and further customization you can read more in <a href="https://developers.google.com/maps/documentation/javascript/3.exp/reference#MarkerOptions" target="_blank">the Google Maps Marker Docs.</a>
</p>
