<h2>Marker Properties</h2>

<div class="grid-block -mb">
  <ul class="grid-content large-3 medium-5 small-12 -nml -nmb -lis-none">
    <li><a {{action "scrollToId" "anchorPoint"}}>anchorPoint</a></li>
    <li><a {{action "scrollToId" "animation"}}>animation</a></li>
    <li><a {{action "scrollToId" "clickable"}}>clickable</a></li>
    <li><a {{action "scrollToId" "crossOnDrag"}}>crossOnDrag</a></li>
    <li><a {{action "scrollToId" "cursor"}}>cursor</a></li>
  </ul>
  <ul class="grid-content large-3 medium-5 small-12 -nml -nmb -lis-none">
    <li><a {{action "scrollToId" "draggable"}}>draggable</a></li>
    <li><a {{action "scrollToId" "icon"}}>icon</a></li>
    <li><a {{action "scrollToId" "label"}}>label</a></li>
    <li><a {{action "scrollToId" "opacity"}}>opacity</a></li>
    <li><a {{action "scrollToId" "optimized"}}>optimized</a></li>
  </ul>
  <ul class="grid-content large-3 medium-5 small-12 -nml -nmb -lis-none">
    <li><a {{action "scrollToId" "position"}}>position</a></li>
    <li><a {{action "scrollToId" "shape"}}>shape</a></li>
    <li><a {{action "scrollToId" "title"}}>title</a></li>
    <li><a {{action "scrollToId" "visible"}}>visible</a></li>
    <li><a {{action "scrollToId" "zIndex"}}>zIndex</a></li>
  </ul>
</div>

<h2>Marker Events</h2>

<div class="grid-block -mb">
  <ul class="grid-content large-3 medium-5 small-12 -nml -nmb -lis-none">
    <li><a {{action "scrollToId" "animation_changed"}}>animation_changed</a></li>
    <li><a {{action "scrollToId" "click"}}>click</a></li>
    <li><a {{action "scrollToId" "clickable_changed"}}>clickable_changed</a></li>
    <li><a {{action "scrollToId" "cursor_changed"}}>cursor_changed</a></li>
    <li><a {{action "scrollToId" "dblclick"}}>dblclick</a></li>
    <li><a {{action "scrollToId" "drag"}}>drag</a></li>
    <li><a {{action "scrollToId" "dragend"}}>dragend</a></li>
  </ul>

  <ul class="grid-content large-3 medium-5 small-12 -nml -nmb -lis-none">
    <li><a {{action "scrollToId" "draggable_changed"}}>draggable_changed</a></li>
    <li><a {{action "scrollToId" "dragstart"}}>dragstart</a></li>
    <li><a {{action "scrollToId" "icon_changed"}}>icon_changed</a></li>
    <li><a {{action "scrollToId" "mousedown"}}>mousedown</a></li>
    <li><a {{action "scrollToId" "mouseout"}}>mouseout</a></li>
    <li><a {{action "scrollToId" "mouseover"}}>mouseover</a></li>
    <li><a {{action "scrollToId" "mouseup"}}>mouseup</a></li>
  </ul>

  <ul class="grid-content large-3 medium-5 small-12 -nml -nmb -lis-none">
    <li><a {{action "scrollToId" "position_changed"}}>position_changed</a></li>
    <li><a {{action "scrollToId" "rightclick"}}>rightclick</a></li>
    <li><a {{action "scrollToId" "shape_changed"}}>shape_changed</a></li>
    <li><a {{action "scrollToId" "title_changed"}}>title_changed</a></li>
    <li><a {{action "scrollToId" "visible_changed"}}>visible_changed</a></li>
    <li><a {{action "scrollToId" "zindex_changed"}}>zindex_changed</a></li>
  </ul>
</div>

<div class="grid-content -np -mb">
  {{#g-map
    class="gmaps-docs-map"
    lat=lat
    lng=lng
    zoom=zoom
    draggable=false
    disableDoubleClickZoom=true
    streetViewControl=false
    mapTypeControl=false
    scrollwheel=false
    zoomControl=false as |map|}}

    {{g-map-marker map
      lat=options.lat
      lng=options.lng
      animation=options.animation
      clickable=options.clickable
      crossOnDrag=options.crossOnDrag
      cursor=options.cursor
      draggable=options.draggable
      icon=options.icon
      label=options.label
      optimized=options.opacity
      optimized=options.optimized
      shape=options.shape
      title=options.title
      visible=options.visible
      zIndex=options.zIndex
      animation_changed=(route-action "registerEvent" "animation_changed")
      click=(route-action "registerEvent" "click")
      clickable_changed=(route-action "registerEvent" "clickable_changed")
      cursor_changed=(route-action "registerEvent" "cursor_changed")
      dblclick=(route-action "registerEvent" "dblclick")
      drag=(pipe (route-action "drag") (route-action "registerEvent" "drag"))
      dragend=(route-action "registerEvent" "dragend")
      draggable_changed=(route-action "registerEvent" "draggable_changed")
      dragstart=(route-action "registerEvent" "dragstart")
      icon_changed=(route-action "registerEvent" "icon_changed")
      mousedown=(route-action "registerEvent" "mousedown")
      mouseout=(route-action "registerEvent" "mouseout")
      mouseover=(route-action "registerEvent" "mouseover")
      mouseup=(pipe (route-action "mouseup") (route-action "registerEvent" "mouseup"))
      position_changed=(route-action "registerEvent" "position_changed")
      rightclick=(route-action "registerEvent" "rightclick")
      shape_changed=(route-action "registerEvent" "shape_changed")
      title_changed=(route-action "registerEvent" "title_changed")
      visible_changed=(route-action "registerEvent" "visible_changed")
      zindex_changed=(route-action "registerEvent" "zindex_changed")}}

  {{/g-map}}
</div>

<h3 class="grid-content -npl">Active Events</h3>

<div id="g-map-marker-event-states" class="grid-block -pb">
  <div class="grid-content small-12 medium-4 -smb">
    <div class="gmaps-fade-text {{if isanimation_changed '-fade'}}" data-test-updated={{if wasanimation_changed 'animation_changed'}}>animation_changed</div>
    <div class="gmaps-fade-text {{if isclick '-fade'}}" data-test-updated={{if wasclick 'click'}}>click</div>
    <div class="gmaps-fade-text {{if isclickable_changed '-fade'}}" data-test-updated={{if wasclickable_changed 'clickable_changed'}}>clickable_changed</div>
    <div class="gmaps-fade-text {{if iscursor_changed '-fade'}}" data-test-updated={{if wascursor_changed 'cursor_changed'}}>cursor_changed</div>
    <div class="gmaps-fade-text {{if isdblclick '-fade'}}" data-test-updated={{if wasdblclick 'dblclick'}}>dblclick</div>
    <div class="gmaps-fade-text {{if isdrag '-fade'}}" data-test-updated={{if wasdrag 'drag'}}>drag</div>
    <div class="gmaps-fade-text {{if isdragend '-fade'}}" data-test-updated={{if wasdragend 'dragend'}}>dragend</div>
  </div>

  <div class="grid-content small-12 medium-4 -smb">
    <div class="gmaps-fade-text {{if isdraggable_changed '-fade'}}" data-test-updated={{if wasdraggable_changed 'draggable_changed'}}>draggable_changed</div>
    <div class="gmaps-fade-text {{if isdragstart '-fade'}}" data-test-updated={{if wasdragstart 'dragstart'}}>dragstart</div>
    <div class="gmaps-fade-text {{if isicon_changed '-fade'}}" data-test-updated={{if wasicon_changed 'icon_changed'}}>icon_changed</div>
    <div class="gmaps-fade-text {{if ismousedown '-fade'}}" data-test-updated={{if wasmousedown 'mousedown'}}>mousedown</div>
    <div class="gmaps-fade-text {{if ismouseout '-fade'}}" data-test-updated={{if wasmouseout 'mouseout'}}>mouseout</div>
    <div class="gmaps-fade-text {{if ismouseover '-fade'}}" data-test-updated={{if wasmouseover 'mouseover'}}>mouseover</div>
    <div class="gmaps-fade-text {{if ismouseup '-fade'}}" data-test-updated={{if wasmouseup 'mouseup'}}>mouseup</div>
  </div>

  <div class="grid-content small-12 medium-4 -smb">
    <div class="gmaps-fade-text {{if isposition_changed '-fade'}}" data-test-updated={{if wasposition_changed 'position_changed'}}>position_changed</div>
    <div class="gmaps-fade-text {{if isrightclick '-fade'}}" data-test-updated={{if wasrightclick 'rightclick'}}>rightclick</div>
    <div class="gmaps-fade-text {{if isshape_changed '-fade'}}" data-test-updated={{if wasshape_changed 'shape_changed'}}>shape_changed</div>
    <div class="gmaps-fade-text {{if istitle_changed '-fade'}}" data-test-updated={{if wastitle_changed 'title_changed'}}>title_changed</div>
    <div class="gmaps-fade-text {{if isvisible_changed '-fade'}}" data-test-updated={{if wasvisible_changed 'drag'}}>visible_changed</div>
    <div class="gmaps-fade-text {{if iszindex_changed '-fade'}}" data-test-updated={{if waszindex_changed 'drag'}}>zindex_changed</div>
  </div>
</div>

<div class="grid-block -lmb">
  <div class="grid-content small-6 medium-3 -mb">
    <small class="-db -smb">clickable</small>
    <button
      class="th-google-button--xsmall -ilb"
      data-test-update="clickable"
      {{action (route-action "toggleOption" "clickable")}}>{{if options.clickable 'Enabled' 'Disabled'}}</button>
  </div>

  <div class="grid-content small-6 medium-3 -mb">
    <small class="-db -smb">crossOnDrag</small>
    <button
      class="th-google-button--xsmall -ilb"
      data-test-update="crossOnDrag"
      {{action (route-action "toggleOption" "crossOnDrag")}}>{{if options.crossOnDrag 'Enabled' 'Disabled'}}</button>
  </div>

  <div class="grid-content small-6 medium-3 -mb">
    <small class="-db -smb">cursor</small>
    <button
      class="th-google-button--xsmall -ilb"
      data-test-update="cursor"
      {{action "setToNext" "cursor" "cursor"}}>{{options.cursor}}</button>
  </div>

  <div class="grid-content small-6 medium-3 -mb">
    <small class="-db -smb">draggable</small>
    <button
      class="th-google-button--xsmall -ilb"
      data-test-update="draggable"
      {{action (route-action "toggleOption" "draggable")}}>{{if options.draggable 'Enabled' 'Disabled'}}</button>
  </div>

  <div class="grid-content small-6 medium-3 -smb">
    <small class="-db -smb">icon</small>
    <button
      class="th-google-button--xsmall -ilb"
      data-test-update="icon"
      {{action (route-action "toggleCustomMarker")}}>{{if options.icon 'Custom' 'Normal'}}</button>
  </div>

  <div class="grid-content small-6 medium-3 -smb">
    <small class="-db -smb">label</small>
    <button
      class="th-google-button--xsmall -ilb"
      data-test-update="label"
      {{action (route-action "toggleLabel")}}>{{if options.label 'Text' 'None'}}</button>
  </div>

  <div class="grid-content small-6 medium-3 -smb">
    <small class="-db -smb">lat</small>
    <div class="th-google-button-bar">
      <button
        class="th-google-button--xsmall -fz-large -np"
        {{action (pipe (route-action "decrement" "lat") (route-action "syncMapCenter"))}}
        data-test-update="opacity"
        disabled={{lte (dec options.lat) 15}}>-</button>
      <button data-test-value="position.lat" class="th-google-button--xsmall">{{slice options.lat 0 7}}</button>
      <button
        class="th-google-button--xsmall -fz-large -np"
        {{action (pipe (route-action "increment" "lat") (route-action "syncMapCenter"))}}
        disabled={{gte (inc options.lat) 40}}>+</button>
    </div>
  </div>

  <div class="grid-content small-6 medium-3 -smb">
    <small class="-db -smb">lng</small>
    <div class="th-google-button-bar">
      <button
        class="th-google-button--xsmall -fz-large -np"
        {{action (pipe (route-action "decrement" "lng") (route-action "syncMapCenter"))}}
        data-test-update="opacity"
        disabled={{lte (dec options.lng) -115}}>-</button>
      <button data-test-value="position.lng" class="th-google-button--xsmall">{{slice options.lng 0 7}}</button>
      <button
        class="th-google-button--xsmall -fz-large -np"
        {{action (pipe (route-action "increment" "lng") (route-action "syncMapCenter"))}}
        disabled={{gte (inc options.lng) -80}}>+</button>
    </div>
  </div>

  <div class="grid-content small-6 medium-3 -smb">
    <small class="-db -smb">opacity</small>
    <div class="th-google-button-bar">
      <button
        class="th-google-button--xsmall -fz-large -np"
        {{action (route-action "decrement" "opacity" 0.1)}}
        data-test-update="opacity"
        disabled={{lte options.opacity 0.1}}>-</button>
      <button data-test-value="opacity" class="th-google-button--xsmall">{{slice options.opacity 0 4}}</button>
      <button
        class="th-google-button--xsmall -fz-large -np"
        {{action (route-action "increment" "opacity" 0.1)}}
        disabled={{gte options.opacity 0.99}}>+</button>
    </div>
  </div>

  <div class="grid-content small-6 medium-3 -mb">
    <small class="-db -smb">optimized</small>
    <button
      class="th-google-button--xsmall -ilb"
      data-test-update="optimized"
      {{action (route-action "toggleOption" "optimized")}}>{{if options.optimized 'Enabled' 'Disabled'}}</button>
  </div>

  <div class="grid-content small-6 medium-3 -smb">
    <small class="-db -smb">title</small>
    <button
      class="th-google-button--xsmall -ilb"
      data-test-update="title"
      {{action (route-action "toggleTitle")}}>{{if options.title 'Rollover' 'None'}}</button>
  </div>

  <div class="grid-content small-6 medium-3 -mb">
    <small class="-db -smb">visible</small>
    <button
      class="th-google-button--xsmall -ilb"
      data-test-update="visible"
      {{action (route-action "toggleOption" "visible")}}>{{if options.visible 'Enabled' 'Disabled'}}</button>
  </div>

  <div class="grid-content small-6 medium-3 -smb">
    <small class="-db -smb">zIndex</small>
    <div class="th-google-button-bar">
      <button
        class="th-google-button--xsmall -fz-large -np"
        {{action (route-action "decrement" "zIndex")}}
        data-test-update="zIndex"
        disabled={{eq options.zIndex 0}}>-</button>
      <button data-test-value="zIndex" class="th-google-button--xsmall">{{options.zIndex}}</button>
      <button
        class="th-google-button--xsmall -fz-large -np"
        {{action (route-action "increment" "zIndex")}}
        disabled={{gte options.zIndex 100}}>+</button>
    </div>
  </div>
</div>

<div class="grid-block">
  <div class="grid-content shrink -pb" style="min-height: 59px;">
    <small class="-db -smb">animation</small>
    <div class="th-google-button-bar">
      {{#each animations as |animation|}}
        <button class="th-google-button--small
          {{if (eq animation options.animation) 'active'}}"
          {{action "setAnimation" animation}}
          data-test-update="animation">
          {{animation}}
        </button>
      {{/each}}

      <button class="th-google-button--small
        {{if (not options.animation) 'active'}}"
        {{action "setAnimation" false}}
        data-test-update="animation">
        None
      </button>
    </div>
  </div>
</div>

<div class="grid-block">
  <div class="grid-content shrink -pb" style="min-height: 59px;">
    <small class="-db -smb">shape</small>
    <div class="th-google-button-bar">
      {{#each (array 'circle' 'poly' 'rect') as |type|}}
        <button class="th-google-button--small
          {{if (eq type options.shape.type) 'active'}}"
          {{action "setShapeType" type}}
          data-test-update="shape.type">
          {{type}}
        </button>
      {{/each}}

      <button class="th-google-button--small
        {{if (not options.shape) 'active'}}"
        {{action "setShapeType" false}}>
        None
      </button>
    </div>
  </div>
</div>

<hr>

<h2>Overview</h2>
<p class="medium-7">
  <a href="https://developers.google.com/maps/documentation/javascript/3.exp/reference#MarkerOptions" target="_blank"> Goolge Map Markers</a>
  allow you to add an indicator to a specific coordinate.

  Markers belong to a specific g-map instance and are given access like so:

  {{#gmaps-snippet class="-mt" header="Test"}}
    <table class="highlight tab-size js-file-line-container" data-tab-size="8">
      <tbody>
        <tr>
          <td id="file-test-hbs-L1" class="blob-num js-line-number" data-line-number="1"></td>
          <td id="file-test-hbs-LC1" class="blob-code blob-code-inner js-file-line">  <span class="pl-c1">\{{#g-map</span> <span class="pl-v">as</span> |<span class="pl-e"><span class="pl-v">map</span></span>|<span class="pl-c1">}}</span></td>
        </tr>
        <tr>
          <td id="file-test-hbs-L2" class="blob-num js-line-number" data-line-number="2"></td>
          <td id="file-test-hbs-LC2" class="blob-code blob-code-inner js-file-line">    <span class="pl-c1">\{{</span><span class="pl-v">g-map-marker</span> <span class="pl-e"><span class="pl-v">map</span></span><span class="pl-c1">}}</span></td>
        </tr>
        <tr>
          <td id="file-test-hbs-L3" class="blob-num js-line-number" data-line-number="3"></td>
          <td id="file-test-hbs-LC3" class="blob-code blob-code-inner js-file-line">  <span class="pl-c1">\{{/g-map}}</span></td>
        </tr>
      </tbody>
    </table>
   {{/gmaps-snippet}}

  All marker configuration options may be set as top level properties:
  <span class="gmaps-inline-code">\{{g-map-marker label="My Marker"}}</span>
  or as attributes in an options hash: <span class="gmaps-inline-code">\{{g-map-marker options=options}}</span>.
  The options hash can be a convenient way to define shared or static settings.  If you do need to update
  the values of an options hash be sure to make use of <span class="gmaps-inline-code">this.notifyPropertyChange('myOptions')</span>
  in order to persist your changes to the Google Marker. Please note that values defined within "options"
  will overwrite values defined as top-level bindings.
</p>

<hr>

<h3>Configuration Options</h3>

<p id="backgroundColor" class="medium-7 large-5">
  <h3>backgroundColor</h3>

  <div class="-mb">
    <small class="-db">Type</small>
    String
  </div>

  <div class="-mb">
    <small class="-db">Default</small>
    <span class="gmaps-inline-code -nml">rgb(229, 227, 223)</span>
  </div>

  <div class="-mb">
    <small class="-db">Resources</small>
    <a href="https://developers.google.com/maps/documentation/javascript/reference#MapOptions" target="_blank">Google Map Type Docs</a>
  </div>
</p>

<p class="medium-7 large-5">
  For complete documentation you can read more at <a href="https://developers.google.com/maps/documentation/javascript/3.exp/reference#MarkerOptions" target="_blank">the Google Maps Marker Docs.</a>
</p>
