<div class="grid-frame vertical -scroll-y">
  <div class="primary title-bar title-bar--dark">
    <span class="title left">
      {{#link-to 'index' 
        tagName="h2"
        class="-white-color -cursor-pointer -nmb"}}
        Ember-CLI GMaps
        <h6 class="gmaps-slogan -white-color">
          For Map Driven Apps
        </h6>
      {{/link-to}}
    </span>
  </div>

  {{#gmaps-main-navigation as |mainNav|}}
    <nav class="primary title-bar th-google-navigation -np">
      <ul class="th-google-tabs {{if mainNav.isMobileNavActive 'active'}}">
        <li class="th-google-tabs__mobile-nav">
          <button 
            class="th-google-button"
            {{action "toggleMobileNav" target=mainNav}}>Naviation</button>
        </li>
        <li class="th-google-tabs__tab">
          {{#link-to 'setup'}}<span {{action "toggleMobileNav" target=mainNav}}>Setup</span>{{/link-to}}
        </li>
        <li class="th-google-tabs__tab">
          {{#link-to 'basicUsage.index'}}<span {{action "toggleMobileNav" target=mainNav}}>Basic</span>{{/link-to}}
        </li>
        <li class="th-google-tabs__tab">
          {{#link-to 'service.index'}}<span {{action "toggleMobileNav" target=mainNav}}>Service</span>{{/link-to}}
        </li>
        <li class="th-google-tabs__tab">
          {{#link-to 'selections.index'}}<span {{action "toggleMobileNav" target=mainNav}}>Selections</span>{{/link-to}}
        </li>
        <li class="th-google-tabs__tab">
          {{#link-to 'heatmap.index'}}<span {{action "toggleMobileNav" target=mainNav}}>Heatmap</span>{{/link-to}}
        </li>
        <li class="th-google-tabs__tab">
          {{#link-to 'performance.index'}}<span {{action "toggleMobileNav" target=mainNav}}>Performance</span>{{/link-to}}
        </li>
      </ul>
    </nav>
  {{/gmaps-main-navigation}}

  <a href="https://github.com/matt-jensen/ember-cli-g-maps">
    <img style="position: absolute; top: 0; right: 0; border: 0; z-index: 10; width: 132px;" src="github-ribbon.png" alt="Fork me on GitHub">
  </a>

  {{outlet}}
</div>