<h2>Properties</h2>

<ul>
  <li><a {{action "scrollToId" 'mapType'}}>mapType</a></li>
  <li><a {{action "scrollToId" 'showMapTypeControl'}}>showMapTypeControl</a></li>
  <li><a {{action "scrollToId" 'draggable'}}>draggable</a></li>
  <li><a {{action "scrollToId" 'showZoomControl'}}>showZoomControl</a></li>
  <li><a {{action "scrollToId" 'showScaleControl'}}>showScaleControl</a></li>
  <li><a {{action "scrollToId" 'disableDefaultUI'}}>disableDefaultUI</a></li>
  <li><a {{action "scrollToId" 'disableDoubleClickZoom'}}>disableDoubleClickZoom</a></li>
  <li><a {{action "scrollToId" 'scrollwheel'}}>scrollwheel</a></li>
</ul>


<div class="grid-block -pb">
  <div class="grid-content small-12 medium-3 -smb">
    <small class="-db">Map Type</small>
    {{type}}
  </div>

  <div class="grid-content small-12 medium-3 -smb">
    <small class="-db">Show Map Type Controls</small>
    <input type="checkbox" value=showMaptypeControl checked {{action "toggleTypeControls" on="change"}}>
  </div>

  <div class="grid-content small-12 medium-3 -smb">
    <small class="-db">Disable Draggable</small>
    <input type="checkbox" value=drag {{action "toggleDrag" on="change"}}>
  </div>

  <div class="grid-content small-12 medium-3 -smb">
    <small class="-db">Show Zoom Controls</small>
    <input type="checkbox" value=showZoomControl checked {{action "toggleZoomControls" on="change"}}>
  </div>

  <div class="grid-content small-12 medium-3 -smb">
    <small class="-db">Show Scale Controls</small>
    <input type="checkbox" value=showScaleControl checked {{action "toggleScaleControls" on="change"}}>
  </div>
</div>

<div class="grid-block">
  <div class="grid-content small-12 -pb">
    {{#each types as |mapType|}}
      <button class="th-google-button--small -ilb -smr
        {{if (eq mapType type) 'active'}}"
        {{action "setMapType" mapType}}>
        {{mapType}}
      </button>
    {{/each}}
  </div>
</div>

<div class="grid-content -np -mb">
  {{g-maps class="gmaps-docs-map"
    lat=lat
    lng=lng
    zoom=zoom
    mapType=type
    draggable=drag
    showMapTypeControl=showMapTypeControl
    showZoomControl=showZoomControl
    showScaleControl=showScaleControl
    maptypeid_changed="onMapTypeIdChange"}}
</div>

<hr>

<p id="mapType" class="medium-7">
  <h3>mapType</h3>

  <div class="-mb">
    <small class="-db">Type</small>
    String
  </div>

  <div class="-mb">
    <small class="-db">Options</small>
    <span class="gmaps-inline-code -nml">roadmap</span>
    <span class="gmaps-inline-code">satellite</span>
    <span class="gmaps-inline-code">hybrid</span>
    <span class="gmaps-inline-code">terrain</span>
  </div>

  <div class="-mb">
    <small class="-db">Default</small>
    <span class="gmaps-inline-code -nml">roadmap</span>
  </div>

  <div class="-mb">
    <small class="-db">Resources</small>
    <a href="https://developers.google.com/maps/documentation/javascript/maptypes" target="_blank">Google Map Type Docs</a>
  </div>

  <div class="gmaps-snippet">
    <header>Example</header>
    <code>
      <div class="gist">
        <div class="gist-file">
          <div class="gist-data">
            <div class="js-gist-file-update-container js-task-list-container file-box">
              <div id="file-templa-hbs" class="file">
                <div class="blob-wrapper data type-handlebars">
                  <table class="highlight tab-size js-file-line-container" data-tab-size="8">
                    <tbody><tr>
                      <td id="file-templa-hbs-L1" class="blob-num js-line-number" data-line-number="1"></td>
                      <td id="file-templa-hbs-LC1" class="blob-code blob-code-inner js-file-line"><span class="pl-c1">\{{</span><span class="pl-v">g-maps</span> mapType=myMapType<span class="pl-c1">}}</span></td>
                    </tr>
                  </tbody></table>
                </div>
              </div>
            </div>
          </div>
          <div class="gist-meta">
            made with ❤ by <a href="https://github.com">GitHub</a>
          </div>
        </div>
      </div>
    </code>
  </div>
</p>

<hr>

<p id="showMapTypeControl" class="medium-7">
  <h3>showMapTypeControl</h3>

  <div class="-mb">
    <small class="-db">Type</small>
    Boolean
  </div>

  <div class="-mb">
    <small class="-db">Default</small>
    <span class="gmaps-inline-code -nml">true</span>
  </div>

  <div class="-mb">
    <small class="-db">Resources</small>
    <a href="https://developers.google.com/maps/documentation/javascript/reference#MapOptions" target="_blank">Google Map Type Control Docs</a>
  </div>

  <div class="gmaps-snippet">
    <header>Example</header>
    <code>
      <div class="gist">
        <div class="gist-file">
          <div class="gist-data">
            <div class="js-gist-file-update-container js-task-list-container file-box">
              <div id="file-templa-hbs" class="file">
                <div class="blob-wrapper data type-handlebars">
                  <table class="highlight tab-size js-file-line-container" data-tab-size="8">
                    <tbody><tr>
                      <td id="file-templa-hbs-L1" class="blob-num js-line-number" data-line-number="1"></td>
                      <td id="file-templa-hbs-LC1" class="blob-code blob-code-inner js-file-line"><span class="pl-c1">\{{</span><span class="pl-v">g-maps</span> showMapTypeControl=true<span class="pl-c1">}}</span></td>
                    </tr>
                  </tbody></table>
                </div>
              </div>
            </div>
          </div>
          <div class="gist-meta">
            made with ❤ by <a href="https://github.com">GitHub</a>
          </div>
        </div>
      </div>
    </code>
  </div>
</p>

<hr>

<p id="draggable" class="medium-7">
  <h3>draggable</h3>

  <div class="-mb">
    <small class="-db">Type</small>
    Boolean
  </div>
  <div class="-mb">
    <small class="-db">Default</small>
    <div class="gmaps-inline-code -nml">false</div>
  </div>
  <div class="-mb">
    <small class="-db">Resources</small>
    <a href="https://developers.google.com/maps/documentation/javascript/reference#MapOptions" target="_blank">Google Map Options</a>
  </div>
  <div class="gmaps-snippet">
    <header>Example</header>
    <code>
      <div class="gist">
        <div class="gist-file">
          <div class="gist-data">
            <div class="js-gist-file-update-container js-task-list-container file-box">
              <div id="file-templa-hbs" class="file">
                <div class="blob-wrapper data type-handlebars">
                  <table class="highlight tab-size js-file-line-container" data-tab-size="8">
                    <tbody><tr>
                      <td id="file-templa-hbs-L1" class="blob-num js-line-number" data-line-number="1"></td>
                      <td id="file-templa-hbs-LC1" class="blob-code blob-code-inner js-file-line"><span class="pl-c1">\{{</span><span class="pl-v">g-maps</span> draggable=true<span class="pl-c1">}}</span></td>
                    </tr>
                  </tbody></table>
                </div>
              </div>
            </div>
          </div>
          <div class="gist-meta">
            made with ❤ by <a href="https://github.com">GitHub</a>
          </div>
        </div>
      </div>
    </code>
  </div>
</p>

<hr>

<p id="showZoomControl" class="medium-7">
  <h3>showZoomControl</h3>

  <div class="-mb">
    <small class="-db">Type</small>
    Boolean
  </div>
  <div class="-mb">
    <small class="-db">Default</small>
    <div class="gmaps-inline-code -nml">true</div>
  </div>
  <div class="-mb">
    <small class="-db">Resources</small>
    <a href="https://developers.google.com/maps/documentation/javascript/reference#MapOptions" target="_blank">Google Map Options</a>
  </div>
  <div class="gmaps-snippet">
    <header>Example</header>
    <code>
      <div class="gist">
        <div class="gist-file">
          <div class="gist-data">
            <div class="js-gist-file-update-container js-task-list-container file-box">
              <div id="file-templa-hbs" class="file">
                <div class="blob-wrapper data type-handlebars">
                  <table class="highlight tab-size js-file-line-container" data-tab-size="8">
                    <tbody><tr>
                      <td id="file-templa-hbs-L1" class="blob-num js-line-number" data-line-number="1"></td>
                      <td id="file-templa-hbs-LC1" class="blob-code blob-code-inner js-file-line"><span class="pl-c1">\{{</span><span class="pl-v">g-maps</span> showZoomControl=true<span class="pl-c1">}}</span></td>
                    </tr>
                  </tbody></table>
                </div>
              </div>
            </div>
          </div>
          <div class="gist-meta">
            made with ❤ by <a href="https://github.com">GitHub</a>
          </div>
        </div>
      </div>
    </code>
  </div>
</p>

<hr>

<p id="showScaleControl" class="medium-7">
  <h3>showScaleControl</h3>

  <div class="-mb">
    <small class="-db">Type</small>
    Boolean
  </div>
  <div class="-mb">
    <small class="-db">Default</small>
    <div class="gmaps-inline-code -nml">true</div>
  </div>
  <div class="-mb">
    <small class="-db">Resources</small>
    <a href="https://developers.google.com/maps/documentation/javascript/reference#MapOptions" target="_blank">Google Map Options</a>
  </div>
  <div class="gmaps-snippet">
    <header>Example</header>
    <code>
      <div class="gist">
        <div class="gist-file">
          <div class="gist-data">
            <div class="js-gist-file-update-container js-task-list-container file-box">
              <div id="file-templa-hbs" class="file">
                <div class="blob-wrapper data type-handlebars">
                  <table class="highlight tab-size js-file-line-container" data-tab-size="8">
                    <tbody><tr>
                      <td id="file-templa-hbs-L1" class="blob-num js-line-number" data-line-number="1"></td>
                      <td id="file-templa-hbs-LC1" class="blob-code blob-code-inner js-file-line"><span class="pl-c1">\{{</span><span class="pl-v">g-maps</span> showScaleControl=true<span class="pl-c1">}}</span></td>
                    </tr>
                  </tbody></table>
                </div>
              </div>
            </div>
          </div>
          <div class="gist-meta">
            made with ❤ by <a href="https://github.com">GitHub</a>
          </div>
        </div>
      </div>
    </code>
  </div>
</p>

<hr>

<p id="disableDefaultUI" class="medium-7">
  <h3>disableDefaultUI</h3>

  <div class="-mb">
    <small class="-db">Type</small>
    Boolean
  </div>
  <div class="-mb">
    <small class="-db">Default</small>
    <div class="gmaps-inline-code -nml">false</div>
  </div>
  <div class="-mb">
    <small class="-db">Resources</small>
    <a href="https://developers.google.com/maps/documentation/javascript/reference#MapOptions" target="_blank">Google Map Options</a>
  </div>
  <div class="gmaps-snippet">
    <header>Example</header>
    <code>
      <div class="gist">
        <div class="gist-file">
          <div class="gist-data">
            <div class="js-gist-file-update-container js-task-list-container file-box">
              <div id="file-templa-hbs" class="file">
                <div class="blob-wrapper data type-handlebars">
                  <table class="highlight tab-size js-file-line-container" data-tab-size="8">
                    <tbody><tr>
                      <td id="file-templa-hbs-L1" class="blob-num js-line-number" data-line-number="1"></td>
                      <td id="file-templa-hbs-LC1" class="blob-code blob-code-inner js-file-line"><span class="pl-c1">\{{</span><span class="pl-v">g-maps</span> disableDefaultUI=false<span class="pl-c1">}}</span></td>
                    </tr>
                  </tbody></table>
                </div>
              </div>
            </div>
          </div>
          <div class="gist-meta">
            made with ❤ by <a href="https://github.com">GitHub</a>
          </div>
        </div>
      </div>
    </code>
  </div>
</p>

<hr>

<p id="disableDoubleClickZoom" class="medium-7">
  <h3>disableDoubleClickZoom</h3>

  <div class="-mb">
    <small class="-db">Type</small>
    Boolean
  </div>
  <div class="-mb">
    <small class="-db">Default</small>
    <div class="gmaps-inline-code -nml">false</div>
  </div>
  <div class="-mb">
    <small class="-db">Resources</small>
    <a href="https://developers.google.com/maps/documentation/javascript/reference#MapOptions" target="_blank">Google Map Options</a>
  </div>
  <div class="gmaps-snippet">
    <header>Example</header>
    <code>
      <div class="gist">
        <div class="gist-file">
          <div class="gist-data">
            <div class="js-gist-file-update-container js-task-list-container file-box">
              <div id="file-templa-hbs" class="file">
                <div class="blob-wrapper data type-handlebars">
                  <table class="highlight tab-size js-file-line-container" data-tab-size="8">
                    <tbody><tr>
                      <td id="file-templa-hbs-L1" class="blob-num js-line-number" data-line-number="1"></td>
                      <td id="file-templa-hbs-LC1" class="blob-code blob-code-inner js-file-line"><span class="pl-c1">\{{</span><span class="pl-v">g-maps</span> disableDoubleClickZoom=false<span class="pl-c1">}}</span></td>
                    </tr>
                  </tbody></table>
                </div>
              </div>
            </div>
          </div>
          <div class="gist-meta">
            made with ❤ by <a href="https://github.com">GitHub</a>
          </div>
        </div>
      </div>
    </code>
  </div>
</p>

<hr>

<p id="scrollwheel" class="medium-7">
  <h3>scrollwheel</h3>

  <div class="-mb">
    <small class="-db">Type</small>
    Boolean
  </div>
  <div class="-mb">
    <small class="-db">Default</small>
    <div class="gmaps-inline-code -nml">true</div>
  </div>
  <div class="-mb">
    <small class="-db">Resources</small>
    <a href="https://developers.google.com/maps/documentation/javascript/reference#MapOptions" target="_blank">Google Map Options</a>
  </div>
  <div class="gmaps-snippet">
    <header>Example</header>
    <code>
      <div class="gist">
        <div class="gist-file">
          <div class="gist-data">
            <div class="js-gist-file-update-container js-task-list-container file-box">
              <div id="file-templa-hbs" class="file">
                <div class="blob-wrapper data type-handlebars">
                  <table class="highlight tab-size js-file-line-container" data-tab-size="8">
                    <tbody><tr>
                      <td id="file-templa-hbs-L1" class="blob-num js-line-number" data-line-number="1"></td>
                      <td id="file-templa-hbs-LC1" class="blob-code blob-code-inner js-file-line"><span class="pl-c1">\{{</span><span class="pl-v">g-maps</span> scrollwheel=true<span class="pl-c1">}}</span></td>
                    </tr>
                  </tbody></table>
                </div>
              </div>
            </div>
          </div>
          <div class="gist-meta">
            made with ❤ by <a href="https://github.com">GitHub</a>
          </div>
        </div>
      </div>
    </code>
  </div>
</p>
