<h2>Properties</h2>

<div class="grid-block -mb">
  <ul class="grid-content large-3 medium-5 small-12 -nml -nmb -lis-none">
    <li><a {{action "scrollToId" "backgroundColor"}}>backgroundColor</a></li>
    <li><a {{action "scrollToId" "center"}}>center</a></li>
    <li><a {{action "scrollToId" "clickableIcons"}}>clickableIcons</a></li>
    <li><a {{action "scrollToId" "disableDefaultUI"}}>disableDefaultUI</a></li>
    <li><a {{action "scrollToId" "disableDoubleClickZoom"}}>disableDoubleClickZoom</a></li>
    <li><a {{action "scrollToId" "draggable"}}>draggable</a></li>
    <li><a {{action "scrollToId" "draggableCursor"}}>draggableCursor</a></li>
    <li><a {{action "scrollToId" "draggingCursor"}}>draggingCursor</a></li>
    <li><a {{action "scrollToId" "fullscreenControl"}}>fullscreenControl</a></li>
  </ul>
  <ul class="grid-content large-3 medium-5 small-12 -nml -nmb -lis-none">
    <li><a {{action "scrollToId" "fullscreenControlOptions"}}>fullscreenControlOptions</a></li>
    <li><a {{action "scrollToId" "gestureHandling"}}>gestureHandling</a></li>
    <li><a {{action "scrollToId" "heading"}}>heading</a></li>
    <li><a {{action "scrollToId" "keyboardShortcuts"}}>keyboardShortcuts</a></li>
    <li><a {{action "scrollToId" "lat"}}>lat</a></li>
    <li><a {{action "scrollToId" "lng"}}>lng</a></li>
    <li><a {{action "scrollToId" "mapTypeId"}}>mapTypeId</a></li>
    <li><a {{action "scrollToId" "mapTypeControl"}}>mapTypeControl</a></li>
    <li><a {{action "scrollToId" "mapTypeControlOptions"}}>mapTypeControlOptions</a></li>
  </ul>
  <ul class="grid-content large-3 medium-5 small-12 -nml -nmb -lis-none">
    <li><a {{action "scrollToId" "maxZoom"}}>maxZoom</a></li>
    <li><a {{action "scrollToId" "minZoom"}}>minZoom</a></li>
    <li><a {{action "scrollToId" "panControl"}}>panControl</a></li>
    <li><a {{action "scrollToId" "panControlOptions"}}>panControlOptions</a></li>
    <li><a {{action "scrollToId" "rotateControl"}}>rotateControl</a></li>
    <li><a {{action "scrollToId" "rotateControlOptions"}}>rotateControlOptions</a></li>
    <li><a {{action "scrollToId" "scaleControl"}}>scaleControl</a></li>
    <li><a {{action "scrollToId" "scaleControlStyles"}}>scaleControlStyles</a></li>
  </ul>
  <ul class="grid-content large-3 medium-5 small-12 -nml -nmb -lis-none">
    <li><a {{action "scrollToId" "scrollwheel"}}>scrollwheel</a></li>
    <li><a {{action "scrollToId" "styles"}}>styles</a></li>
    <li><a {{action "scrollToId" "streetViewControl"}}>streetViewControl</a></li>
    <li><a {{action "scrollToId" "streetViewControlOptions"}}>streetViewControlOptions</a></li>
    <li><a {{action "scrollToId" "tilt"}}>tilt</a></li>
    <li><a {{action "scrollToId" "zoom"}}>zoom</a></li>
    <li><a {{action "scrollToId" "zoomControl"}}>zoomControl</a></li>
    <li><a {{action "scrollToId" "zoomControlOptions"}}>zoomControlOptions</a></li>
  </ul>
</div>

<div class="grid-content -np -mb">
  {{#if (not useOptionsMap)}}
    {{g-map
      class="gmaps-docs-map"
      lat=options.lat
      lng=options.lng
      backgroundColor=options.backgroundColor
      clickableIcons=options.clickableIcons
      disableDefaultUI=options.disableDefaultUI
      disableDoubleClickZoom=options.disableDoubleClickZoom
      draggable=options.draggable
      draggableCursor=options.draggableCursor
      draggingCursor=options.draggingCursor
      fullscreenControl=options.fullscreenControl
      fullscreenControlOptions=options.fullscreenControlOptions
      gestureHandling=options.gestureHandling
      heading=options.heading
      keyboardShortcuts=options.keyboardShortcuts
      mapTypeId=options.mapTypeId
      mapTypeControl=options.mapTypeControl
      mapTypeControlOptions=options.mapTypeControlOptions
      maxZoom=options.maxZoom
      minZoom=options.minZoom
      panControl=options.panControl
      panControlOptions=options.panControlOptions
      rotateControl=options.rotateControl
      rotateControlOptions=options.rotateControlOptions
      scaleControl=options.scaleControl
      scaleControlStyles=options.scaleControlStyles
      scrollwheel=options.scrollwheel
      styles=options.styles
      streetViewControl=options.streetViewControl
      streetViewControlOptions=options.streetViewControlOptions
      tilt=options.tilt
      zoom=options.zoom
      zoomControl=options.zoomControl
      zoomControlOptions=options.zoomControlOptions
      center_changed=(route-action "onCenterChanged")
      maptypeid_changed=(route-action "onMapTypeIdChange")
      heading_changed=(route-action "onHeadingChanged")
      zoom_changed=(route-action "onZoomChanged")}}
    {{else}}
      {{g-map
        class="gmaps-docs-map"
        options=options
        center_changed=(route-action "onCenterChanged")
        heading_changed=(route-action "onHeadingChanged")
        maptypeid_changed=(route-action "onMapTypeIdChange")
        zoom_changed=(route-action "onZoomChanged")}}
        Options map
    {{/if}}

    <button data-test="reset-map-state" style="display: none;" {{action (route-action "resetMapState" true)}}></button>
    <button data-test="use-options-map" style="display: none;" {{action (route-action "toogleOptionsMap" true)}}></button>
</div>
<small>Map theme: <a href="https://snazzymaps.com/style/64512/colorful-local" target="_blank">Colorful Local</a> by George</small>

<hr>

<div class="grid-block -pb">
  <div class="grid-content small-6 medium-3 -mb">
    <small class="-db -smb">backgroundColor</small>
    {{options.backgroundColor}}
  </div>

  <div class="grid-content small-6 medium-3 -mb">
    <small class="-db -smb">clickableIcons</small>
    <button
      class="th-google-button--xsmall -ilb"
      data-test-update="clickableIcons"
      {{action (route-action "toggleOption" "clickableIcons")}}>{{if options.clickableIcons 'Enabled' 'Disabled'}}</button>
  </div>

  <div class="grid-content small-6 medium-3 -mb">
    <small class="-db -smb">disableDefaultUI</small>
    <button
      class="th-google-button--xsmall -ilb"
      data-test-update="disableDefaultUI"
      {{action (route-action "toggleOption" "disableDefaultUI")}}>{{if options.disableDefaultUI 'Active' 'Inactive'}}</button>
  </div>

  <div class="grid-content small-6 medium-3 -mb">
    <small class="-db -smb">disableDoubleClickZoom</small>
    <button
      class="th-google-button--xsmall -ilb"
      data-test-update="disableDoubleClickZoom"
      {{action (route-action "toggleOption" "disableDoubleClickZoom")}}>{{if options.disableDoubleClickZoom 'Active' 'Inactive'}}</button>
  </div>

  <div class="grid-content small-6 medium-3 -mb">
    <small class="-db -smb">draggable</small>
    <button
      class="th-google-button--xsmall -ilb"
      data-test-update="draggable"
      {{action (route-action "toggleOption" "draggable")}}>{{if options.draggable 'Enabled' 'Disabled'}}</button>
  </div>

  <div class="grid-content small-6 medium-3 -mb">
    <small class="-db -smb">draggableCursor</small>
    <button
      class="th-google-button--xsmall -ilb"
      data-test-update="draggableCursor"
      {{action "setToNext" "draggableCursor" "cursor"}}>{{options.draggableCursor}}</button>
  </div>

  <div class="grid-content small-6 medium-3 -mb">
    <small class="-db -smb">draggingCursor</small>
    <button
      class="th-google-button--xsmall -ilb"
      data-test-update="draggingCursor"
      {{action "setToNext" "draggingCursor" "cursor"}}>{{options.draggingCursor}}</button>
  </div>

  <div class="grid-content small-6 medium-3 -mb">
    <small class="-db -smb">fullscreenControl</small>
    <button
      class="th-google-button--xsmall -ilb"
      data-test-update="fullscreenControl"
      {{action (route-action "toggleOption" "fullscreenControl")}}>{{if options.fullscreenControl 'Enabled' 'Disabled'}}</button>
  </div>

  <div class="grid-content small-6 medium-3 -mb">
    <small class="-db -smb">fullscreenControlOptions</small>
    <button
      class="th-google-button--xsmall -ilb"
      data-test-update="fullscreenControlOptions"
      {{action "setToNext" "fullscreenControlOptions" "position"}}>{{options.fullscreenControlOptions}}</button>
  </div>

  <div class="grid-content small-6 medium-3 -mb">
    <small class="-db -smb">gestureHandling</small>
    <button
      class="th-google-button--xsmall -ilb"
      data-test-update="gestureHandling"
      {{action "setToNext" "gestureHandling" "gesture"}}>{{options.gestureHandling}}</button>
  </div>

  <div class="grid-content small-6 medium-3 -mb">
    <small class="-db -smb">heading</small>
    <button
      class="th-google-button--xsmall -ilb"
      data-test-update="heading"
      {{action "setRandomHeading"}}>{{options.heading}}</button>
  </div>

  <div class="grid-content small-6 medium-3 -mb">
    <small class="-db -smb">keyboardShortcuts</small>
    <button
      class="th-google-button--xsmall -ilb"
      data-test-update="keyboardShortcuts"
      {{action (route-action "toggleOption" "keyboardShortcuts")}}>{{if options.keyboardShortcuts 'Enabled' 'Disabled'}}</button>
  </div>

  <div class="grid-content small-6 medium-3 -mb">
    <small class="-db -smb">lat</small>
    <div class="th-google-button-bar">
      <button
        class="th-google-button--xsmall -fz-large -np"
        {{action (route-action "decrement" "lat")}}
        data-test-update="center.lat"
        disabled={{lte (dec options.lat) -90}}>-</button>
      <button data-test-value="center.lat" class="th-google-button--xsmall">{{slice options.lat 0 7}}</button>
      <button
        class="th-google-button--xsmall -fz-large -np"
        {{action (route-action "increment" "lat")}}
        disabled={{gte (inc options.lat) 90}}>+</button>
    </div>
  </div>

  <div class="grid-content small-6 medium-3 -mb">
    <small class="-db -smb">lng</small>
    <div class="th-google-button-bar">
      <button
      class="th-google-button--xsmall -fz-large -np"
      {{action (route-action "decrement" "lng")}}
      data-test-update="center.lng"
      disabled={{lte (dec options.lng) -180}}>-</button>
      <button data-test-value="center.lng" class="th-google-button--xsmall">{{slice options.lng 0 7}}</button>
      <button
      class="th-google-button--xsmall -fz-large -np"
      {{action (route-action "increment" "lng")}}
      disabled={{gte (inc options.lng) 180}}>+</button>
    </div>
  </div>

  <div class="grid-content small-6 medium-3 -mb">
    <small class="-db -smb">mapTypeControl</small>
    <button
      class="th-google-button--xsmall -ilb"
      data-test-update="mapTypeControl"
      {{action (route-action "toggleOption" "mapTypeControl")}}>{{if options.mapTypeControl 'Enabled' 'Disabled'}}</button>
  </div>

  <div class="grid-content small-6 medium-3 -mb">
    <small class="-db -smb">maxZoom</small>
    <div class="th-google-button-bar">
      <button
        class="th-google-button--xsmall -fz-large -np"
        {{action (route-action "decrement" "maxZoom")}}
        data-test-update="maxZoom"
        disabled={{lte options.maxZoom options.zoom}}>-</button>
      <button data-test-value="maxZoom" class="th-google-button--xsmall">{{options.maxZoom}}</button>
      <button
        class="th-google-button--xsmall -fz-large -np"
        {{action (route-action "increment" "maxZoom")}}
        disabled={{gte options.maxZoom 20}}>+</button>
    </div>
  </div>

  <div class="grid-content small-6 medium-3 -mb">
    <small class="-db -smb">minZoom</small>
    <div class="th-google-button-bar">
      <button
        class="th-google-button--xsmall -fz-large -np"
        {{action (route-action "decrement" "minZoom")}}
        disabled={{eq options.minZoom 0}}>-</button>
      <button data-test-value="minZoom" class="th-google-button--xsmall">{{options.minZoom}}</button>
      <button
        class="th-google-button--xsmall -fz-large -np"
        {{action (route-action "increment" "minZoom")}}
        data-test-update="minZoom"
        disabled={{gte options.minZoom options.zoom}}>+</button>
    </div>
  </div>

  {{!--
    https://developers.google.com/maps/documentation/javascript/3.exp/reference#MapOptions
    "The Pan control is not available in the new set of controls introduced in v3.22 of the Google Maps JavaScript API
    While using v3.22 and v3.23, you can choose to use the earlier set of controls rather than the new controls,
    thus making the Pan control available as part of the old control set."
    NOTE panControl/Options is an advanced user feature, keeping for testing purposes only:
  --}}
  <div class="grid-content small-6 medium-3 -mb" style="visibility: hidden; display: none;">
    <small class="-db -smb">panControl</small>
    <button
      class="th-google-button--xsmall -ilb"
      data-test-update="panControl"
      {{action (route-action "toggleOption" "panControl")}}>{{if options.panControl 'Enabled' 'Disabled'}}</button>
  </div>

  <div class="grid-content small-6 medium-3 -mb" style="visibility: hidden; display: none;">
    <small class="-db -smb">panControlOptions</small>
    <button
      class="th-google-button--xsmall -ilb"
      data-test-update="panControlOptions"
      {{action "setToNext" "panControlOptions" "position"}}>{{options.panControlOptions}}</button>
  </div>

  <div class="grid-content small-6 medium-3 -mb">
    <small class="-db -smb">rotateControl</small>
    <button
      class="th-google-button--xsmall -ilb"
      data-test-update="rotateControl"
      {{action (route-action "toggleOption" "rotateControl")}}>{{if options.rotateControl 'Enabled' 'Disabled'}}</button>
  </div>

  <div class="grid-content small-6 medium-3 -mb">
    <small class="-db -smb">rotateControlOptions</small>
    <button
      class="th-google-button--xsmall -ilb"
      data-test-update="rotateControlOptions"
      {{action "setToNext" "rotateControlOptions" "position"}}>{{options.rotateControlOptions}}</button>
  </div>

  <div class="grid-content small-6 medium-3 -mb">
    <small class="-db -smb">scaleControl</small>
    <button
      class="th-google-button--xsmall -ilb"
      data-test-update="scaleControl"
      {{action (route-action "toggleOption" "scaleControl")}}>{{if options.scaleControl 'Enabled' 'Disabled'}}</button>
  </div>

  <div class="grid-content small-6 medium-3 -mb">
    <small class="-db -smb">scaleControlOptions</small>
    <button
      class="th-google-button--xsmall -ilb"
      {{action "setToNext" "scaleControlOptions" "scaleControlStyles"}}>{{options.scaleControlOptions}}</button>
  </div>

  <div class="grid-content small-6 medium-3 -mb">
    <small class="-db -smb">scrollwheel</small>
    <button
      class="th-google-button--xsmall -ilb"
      data-test-update="scrollwheel"
      {{action (route-action "toggleOption" "scrollwheel")}}>{{if options.scrollwheel 'Enabled' 'Disabled'}}</button>
  </div>

  <div class="grid-content small-6 medium-3 -mb">
    <small class="-db -smb">streetViewControl</small>
    <button
      class="th-google-button--xsmall -ilb"
      data-test-update="streetViewControl"
      {{action (route-action "toggleOption" "streetViewControl")}}>{{if options.streetViewControl 'Enabled' 'Disabled'}}</button>
  </div>

  <div class="grid-content small-6 medium-3 -mb">
    <small class="-db -smb">streetViewControlOptions</small>
    <button
      class="th-google-button--xsmall -ilb"
      data-test-update="streetViewControlOptions"
      {{action "setToNext" "streetViewControlOptions" "position"}}>{{options.streetViewControlOptions}}</button>
  </div>

  <div class="grid-content small-6 medium-3 -mb">
    <small class="-db -smb">tilt</small>
    <button
      class="th-google-button--xsmall -ilb"
      data-test-update="tilt"
      {{action "toggleTilt"}}>{{options.tilt}}</button>
  </div>

  <div class="grid-content small-6 medium-3 -mb">
    <small class="-db -smb">zoom</small>
    <div class="th-google-button-bar">
      <button
        class="th-google-button--xsmall -fz-large -np"
        {{action (route-action "decrement" "zoom")}}
        data-test-update="zoom"
        disabled={{eq options.zoom options.minZoom}}>-</button>
      <button data-test-value="zoom" class="th-google-button--xsmall">{{options.zoom}}</button>
      <button
        class="th-google-button--xsmall -fz-large -np"
        {{action (route-action "increment" "zoom")}}
        disabled={{eq options.zoom options.maxZoom}}>+</button>
    </div>
  </div>

  <div class="grid-content small-6 medium-3 -mb">
    <small class="-db -smb">zoomControl</small>
    <button
      class="th-google-button--xsmall -ilb"
      data-test-update="zoomControl"
      {{action (route-action "toggleOption" "zoomControl")}}>{{if options.zoomControl 'Enabled' 'Disabled'}}</button>
  </div>

  <div class="grid-content small-6 medium-3 -mb">
    <small class="-db -smb">zoomControlOptions</small>
    <button
      class="th-google-button--xsmall -ilb"
      data-test-update="zoomControlOptions"
      {{action "setToNext" "zoomControlOptions" "position"}}>{{options.zoomControlOptions}}</button>
  </div>
</div>

<div class="grid-block">
  <div class="grid-content shrink -pb" style="min-height: 59px;">
    <small class="-db -smb">Map Type</small>

    <div class="th-google-button-bar">
      {{#each options.mapTypeControlOptions.mapTypeIds as |mapType|}}
        <button class="th-google-button--small
          {{if (eq mapType options.mapTypeId) 'active'}}"
          {{action "setMapType" mapType}}
          data-test-update="mapTypeId">
          {{mapType}}
        </button>
      {{/each}}
    </div>
  </div>
</div>

<div class="grid-block -pb">
  <strong class="grid-content small-12 -smb">mapTypeControlOptions</strong>

  <div class="grid-content shrink">
    <small class="-db -smb">mapTypeIds</small>
    <div class="th-google-button-bar">
      {{#each allMapTypes as |mapType|}}
        <button
          class="th-google-button--small {{if (contains mapType options.mapTypeControlOptions.mapTypeIds) 'active'}}"
          {{action "toggleSplice" "mapTypeControlOptions.mapTypeIds" mapType allMapTypes}}
          data-test-update="mapTypeControlOptions.mapTypeIds">
          {{mapType}}
        </button>
      {{/each}}
    </div>
  </div>

  <div class="grid-content shrink">
    <small class="-db -smb">position</small>
    <div class="th-google-button-bar">
      <button
        class="th-google-button--small"
        {{action "setToNext" "mapTypeControlOptions.position" "position"}}
        data-test-update="mapTypeControlOptions.position">
        {{options.mapTypeControlOptions.position}}
      </button>
    </div>
  </div>

  <div class="grid-content shrink">
    <small class="-db -smb">style</small>
    <div class="th-google-button-bar">
      <button
        class="th-google-button--small"
        {{action "setToNext" "mapTypeControlOptions.style" "mapTypeControlStyles"}}
        data-test-update="mapTypeControlOptions.style">
        {{options.mapTypeControlOptions.style}}
      </button>
    </div>
  </div>
</div>

<hr>

<h2>Overview</h2>
<p class="medium-7">
  All configuration options may be set as top level properties:
  <span class="gmaps-inline-code">\{{g-map clickableIcons=true}}</span>
  or as attributes in an options hash: <span class="gmaps-inline-code">\{{g-map options=options}}</span>.
  Please note that these configuration strategies a mututally and exclusive and should not be used together.
</p>

<hr>

<p id="backgroundColor" class="medium-7">
  <h3>backgroundColor</h3>

  <div class="-mb">
    <small class="-db">Type</small>
    String
  </div>

  <div class="-mb">
    <small class="-db">Default</small>
    <span class="gmaps-inline-code -nml">undefined</span>
  </div>

  <div class="-mb">
    <small class="-db">Resources</small>
    <a href="https://developers.google.com/maps/documentation/javascript/reference#MapOptions" target="_blank">Google Map Type Docs</a>
  </div>
</p>

<hr>

<p id="center" class="medium-7">
  <h3>center</h3>

  <div class="-mb">
    <small class="-db">Type</small>
    Object
  </div>

  <div class="-mb">
    <small class="-db">Default</small>
    <span class="gmaps-inline-code -nml">g-map default lat,lng</span>
  </div>

  <div class="-mb">
    <small class="-db">Notes</small>
    center may be an object literal <span class="gmaps-inline-code">{lat: 32, lng: 34}</span>
    or a Google LatLng instance <span class="gmaps-inline-code">new google.map.LatLng(32, 34)</span>.
    Please note using center anywhere will override "lat" and "lng" properties.
  </div>

  <div class="-mb">
    <small class="-db">Resources</small>
    <a href="https://developers.google.com/maps/documentation/javascript/reference#MapOptions" target="_blank">Google Map Type Docs</a>
  </div>
</p>

<hr>

<p id="clickableIcons" class="medium-7">
  <h3>clickableIcons</h3>

  <div class="-mb">
    <small class="-db">Type</small>
    Boolean
  </div>
  <div class="-mb">
    <small class="-db">Default</small>
    <div class="gmaps-inline-code -nml">true</div>
  </div>
  <div class="-mb">
    <small class="-db">Resources</small>
    <a href="https://developers.google.com/maps/documentation/javascript/reference#MapOptions" target="_blank">Google Map Options</a>
  </div>
</p>

<hr>

<p id="disableDefaultUI" class="medium-7">
  <h3>disableDefaultUI</h3>

  <div class="-mb">
    <small class="-db">Type</small>
    Boolean
  </div>
  <div class="-mb">
    <small class="-db">Default</small>
    <div class="gmaps-inline-code -nml">false</div>
  </div>
  <div class="-mb">
    <small class="-db">Resources</small>
    <a href="https://developers.google.com/maps/documentation/javascript/reference#MapOptions" target="_blank">Google Map Options</a>
  </div>
</p>

<hr>

<p id="disableDoubleClickZoom" class="medium-7">
  <h3>disableDoubleClickZoom</h3>

  <div class="-mb">
    <small class="-db">Type</small>
    Boolean
  </div>
  <div class="-mb">
    <small class="-db">Default</small>
    <div class="gmaps-inline-code -nml">false</div>
  </div>
  <div class="-mb">
    <small class="-db">Resources</small>
    <a href="https://developers.google.com/maps/documentation/javascript/reference#MapOptions" target="_blank">Google Map Options</a>
  </div>
</p>

<hr>

<p id="draggable" class="medium-7">
  <h3>draggable</h3>

  <div class="-mb">
    <small class="-db">Type</small>
    Boolean
  </div>

  <div class="-mb">
    <small class="-db">Default</small>
    <div class="gmaps-inline-code -nml">false</div>
  </div>

  <div class="-mb">
    <small class="-db">Resources</small>
    <a href="https://developers.google.com/maps/documentation/javascript/reference#MapOptions" target="_blank">Google Map Options</a>
  </div>
</p>

<hr>

<p id="draggableCursor" class="medium-7">
  <h3>draggableCursor</h3>

  <div class="-mb">
    <small class="-db">Type</small>
    String
  </div>

  <div class="-mb">
    <small class="-db">Default</small>
    <div class="gmaps-inline-code -nml">default</div>
  </div>

  <div class="-mb">
    <small class="-db">Options</small>
    <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/cursor" target="_blank">CSS cursor property values</a>
  </div>

  <div class="-mb">
    <small class="-db">Resources</small>
    <a href="https://developers.google.com/maps/documentation/javascript/reference#MapOptions" target="_blank">Google Map Options</a>
  </div>
</p>

<hr>

<p id="draggingCursor" class="medium-7">
  <h3>draggingCursor</h3>

  <div class="-mb">
    <small class="-db">Type</small>
    String
  </div>

  <div class="-mb">
    <small class="-db">Default</small>
    <div class="gmaps-inline-code -nml">default</div>
  </div>

  <div class="-mb">
    <small class="-db">Options</small>
    <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/cursor" target="_blank">CSS cursor property values</a>
  </div>

  <div class="-mb">
    <small class="-db">Resources</small>
    <a href="https://developers.google.com/maps/documentation/javascript/reference#MapOptions" target="_blank">Google Map Options</a>
  </div>
</p>

<hr>

<p id="fullscreenControl" class="medium-7">
  <h3>fullscreenControl</h3>

  <div class="-mb">
    <small class="-db">Type</small>
    Boolean
  </div>

  <div class="-mb">
    <small class="-db">Default</small>
    <div class="gmaps-inline-code -nml">false</div>
  </div>

  <div class="-mb">
    <small class="-db">Resources</small>
    <a href="https://developers.google.com/maps/documentation/javascript/reference#MapOptions" target="_blank">Google Map Options</a>
  </div>
</p>

<hr>

<p id="fullscreenControlOptions" class="medium-7">
  <h3>fullscreenControlOptions</h3>

  <div class="-mb">
    <small class="-db">Type</small>
    String
  </div>

  <div class="-mb">
    <small class="-db">Default</small>
    <div class="gmaps-inline-code -nml">RIGHT_TOP</div>
  </div>

  <div class="-mb">
    <small class="-db">Options</small>
    <a href="https://developers.google.com/maps/documentation/javascript/reference#ControlPosition" target="_blank">Google Maps control position</a>
  </div>

  <div class="-mb">
    <small class="-db">Resources</small>
    <a href="https://developers.google.com/maps/documentation/javascript/reference#MapOptions" target="_blank">Google Map Options</a>
  </div>
</p>

<hr>

<p id="gestureHandling" class="medium-7">
  <h3>gestureHandling</h3>

  <div class="-mb">
    <small class="-db">Type</small>
    String
  </div>

  <div class="-mb">
    <small class="-db">Default</small>
    <span class="gmaps-inline-code -nml">auto</span>
  </div>

  <div class="-mb">
    <small class="-db">Options</small>
    <span class="gmaps-inline-code -nml">cooperative</span>
    <span class="gmaps-inline-code">greedy</span>
    <span class="gmaps-inline-code">none</span>
    <span class="gmaps-inline-code">auto</span>
  </div>

  <div class="-mb">
    <small class="-db">Resources</small>
    <a href="https://developers.google.com/maps/documentation/javascript/3.exp/reference#MapOptions" target="_blank">Google Map Type Docs</a>
  </div>
</p>

<hr>

<p id="heading" class="medium-7">
  <h3>heading</h3>

  <div class="-mb">
    <small class="-db">Type</small>
    Number
  </div>

  <div class="-mb">
    <small class="-db">Skill Level</small>
    <span class="gmaps-inline-code -nml">Advanced</span>
  </div>

  <div class="-mb">
    <small class="-db">Resources</small>
    <a href="https://developers.google.com/maps/documentation/javascript/reference#MapOptions" target="_blank">Google Map Options</a>
  </div>
</p>

<hr>

<p id="keyboardShortcuts" class="medium-7">
  <h3>keyboardShortcuts</h3>

  <div class="-mb">
    <small class="-db">Type</small>
    Boolean
  </div>

  <div class="-mb">
    <small class="-db">Default</small>
    <div class="gmaps-inline-code -nml">true</div>
  </div>

  <div class="-mb">
    <small class="-db">Resources</small>
    <a href="https://developers.google.com/maps/documentation/javascript/reference#MapOptions" target="_blank">Google Map Options</a>
  </div>
</p>

<hr>

<p id="lat" class="medium-7">
  <h3>lat</h3>

  <div class="-mb">
    <small class="-db">Type</small>
    Number
  </div>

  <div class="-mb">
    <small class="-db">Notes</small>
    A latitude corrdinate that will be overridden if used with the center option.
    Lat is used in conjunction with lng.
  </div>
</p>

<hr>

<p id="lng" class="medium-7">
  <h3>lng</h3>

  <div class="-mb">
    <small class="-db">Type</small>
    Number
  </div>

  <div class="-mb">
    <small class="-db">Notes</small>
    A longitude corrdinate that will be overridden if used with the center option.
    Lng is used in conjunction with lat.
  </div>
</p>

<hr>

<p id="mapTypeId" class="medium-7">
  <h3>mapTypeId</h3>

  <div class="-mb">
    <small class="-db">Type</small>
    String
  </div>

  <div class="-mb">
    <small class="-db">Default</small>
    <span class="gmaps-inline-code -nml">ROADMAP</span>
  </div>

  <div class="-mb">
    <small class="-db">Options</small>
    <span class="gmaps-inline-code -nml">ROADMAP</span>
    <span class="gmaps-inline-code">SATELLITE</span>
    <span class="gmaps-inline-code">HYBRID</span>
    <span class="gmaps-inline-code">TERRAIN</span>
  </div>

  <div class="-mb">
    <small class="-db">Resources</small>
    <a href="https://developers.google.com/maps/documentation/javascript/maptypes" target="_blank">Google Map Type Docs</a>
  </div>
</p>

<hr>

<p id="mapTypeControl" class="medium-7">
  <h3>mapTypeControl</h3>

  <div class="-mb">
    <small class="-db">Type</small>
    Boolean
  </div>

  <div class="-mb">
    <small class="-db">Default</small>
    <span class="gmaps-inline-code -nml">true</span>
  </div>

  <div class="-mb">
    <small class="-db">Resources</small>
    <a href="https://developers.google.com/maps/documentation/javascript/reference#MapOptions" target="_blank">Google Map Options</a>
  </div>
</p>

<hr>

<p id="mapTypeControlOptions" class="medium-7">
  <h3>mapTypeControlOptions</h3>

  <div class="-mb">
    <small class="-db">Type</small>
    Object
  </div>

  <div class="-mb">
    <small class="-db">Default</small>
    <span class="gmaps-inline-code -nml" style="white-space: pre;"><code>{
    mapTypeIds: ['ROADMAP', 'SATELLITE', 'HYBRID', 'TERRAIN'],
    position: 'TOP_RIGHT',
    style: 'DEFAULT'
}</code></span>
  </div>

  <div class="-mb">
    <small class="-db">Options</small>
    <a class="-db" href="https://developers.google.com/maps/documentation/javascript/maptypes" target="_blank">Google Map types</a>
    <a class="-db" href="https://developers.google.com/maps/documentation/javascript/reference#ControlPosition" target="_blank">Google Maps control position</a>
    <a class="-db" href="https://developers.google.com/maps/documentation/javascript/3.exp/reference#MapTypeControlStyle" target="_blank">Googel Map type control styles</a>
  </div>

  <div class="-mb">
    <small class="-db">Resources</small>
    <a href="https://developers.google.com/maps/documentation/javascript/reference#MapOptions" target="_blank">Google Map Options</a>
  </div>
</p>

<hr>

<p id="maxZoom" class="medium-7">
  <h3>maxZoom</h3>

  <div class="-mb">
    <small class="-db">Type</small>
    Number </div>

  <div class="-mb">
    <small class="-db">Default</small>
    Dependent on active map type
  </div>

  <div class="-mb">
    <small class="-db">Resources</small>
    <a href="https://developers.google.com/maps/documentation/javascript/reference#MapOptions" target="_blank">Google Map Options</a>
  </div>
</p>

<hr>

<p id="minZoom" class="medium-7">
  <h3>minZoom</h3>

  <div class="-mb">
    <small class="-db">Type</small>
    Number
  </div>

  <div class="-mb">
    <small class="-db">Default</small>
    <span class="gmaps-inline-code -nml">0</span>
  </div>

  <div class="-mb">
    <small class="-db">Resources</small>
    <a href="https://developers.google.com/maps/documentation/javascript/reference#MapOptions" target="_blank">Google Map Options</a>
  </div>
</p>

<hr>

<p id="panControl" class="medium-7">
  <h3>panControl</h3>

  <div class="-mb">
    <small class="-db">Type</small>
    Boolean
  </div>

  <div class="-mb">
    <small class="-db">Default</small>
    <span class="gmaps-inline-code -nml">false</span>
  </div>

  <div class="-mb">
    <small class="-db">Notes</small>
    This option is deprecated and disabled by default and must be activated to appear.
    Please read the resouces linked below for more information.
  </div>

  <div class="-mb">
    <small class="-db">Resources</small>
    <a href="https://developers.google.com/maps/documentation/javascript/reference#MapOptions" target="_blank">Google Map Options</a>
  </div>
</p>

<hr>

<p id="panControlOptions" class="medium-7">
  <h3>panControlOptions</h3>

  <div class="-mb">
    <small class="-db">Type</small>
    String
  </div>

  <div class="-mb">
    <small class="-db">Default</small>
    <div class="gmaps-inline-code -nml">TOP_LEFT</div>
  </div>

  <div class="-mb">
    <small class="-db">Options</small>
    <a href="https://developers.google.com/maps/documentation/javascript/reference#ControlPosition" target="_blank">Google Maps control position</a>
  </div>

  <div class="-mb">
    <small class="-db">Notes</small>
    This option is deprecated and disabled by default and must be activated to appear.
    Please read the resouces linked below for more information.
  </div>

  <div class="-mb">
    <small class="-db">Resources</small>
    <a href="https://developers.google.com/maps/documentation/javascript/reference#MapOptions" target="_blank">Google Map Options</a>
  </div>
</p>

<hr>

<p id="rotateControl" class="medium-7">
  <h3>rotateControl</h3>

  <div class="-mb">
    <small class="-db">Type</small>
    Boolean
  </div>

  <div class="-mb">
    <small class="-db">Default</small>
    <div class="gmaps-inline-code -nml">false</div>
  </div>

  <div class="-mb">
    <small class="-db">Resources</small>
    <a href="https://developers.google.com/maps/documentation/javascript/reference#MapOptions" target="_blank">Google Map Options</a>
  </div>
</p>

<hr>

<p id="rotateControlOptions" class="medium-7">
  <h3>rotateControlOptions</h3>

  <div class="-mb">
    <small class="-db">Type</small>
    String
  </div>

  <div class="-mb">
    <small class="-db">Default</small>
    <div class="gmaps-inline-code -nml">TOP_LEFT</div>
  </div>

  <div class="-mb">
    <small class="-db">Options</small>
    <a href="https://developers.google.com/maps/documentation/javascript/reference#ControlPosition" target="_blank">Google Maps control position</a>
  </div>

  <div class="-mb">
    <small class="-db">Resources</small>
    <a href="https://developers.google.com/maps/documentation/javascript/reference#MapOptions" target="_blank">Google Map Options</a>
  </div>
</p>

<hr>

<p id="scaleControl" class="medium-7">
  <h3>scaleControl</h3>

  <div class="-mb">
    <small class="-db">Type</small>
    Boolean
  </div>

  <div class="-mb">
    <small class="-db">Default</small>
    <div class="gmaps-inline-code -nml">true</div>
  </div>

  <div class="-mb">
    <small class="-db">Resources</small>
    <a href="https://developers.google.com/maps/documentation/javascript/reference#MapOptions" target="_blank">Google Map Options</a>
  </div>
</p>

<hr>

<p id="scaleControlStyles" class="medium-7">
  <h3>scaleControlStyles</h3>

  <div class="-mb">
    <small class="-db">Type</small>
    String
  </div>

  <div class="-mb">
    <small class="-db">Default</small>
    <div class="gmaps-inline-code -nml">DEFAULT</div>
  </div>

  <div class="-mb">
    <small class="-db">Options</small>
    <a href="https://developers.google.com/maps/documentation/javascript/3.exp/reference#ScaleControlStyle" target="_blank">Google Maps scale control styles</a>
  </div>

  <div class="-mb">
    <small class="-db">Resources</small>
    <a href="https://developers.google.com/maps/documentation/javascript/reference#MapOptions" target="_blank">Google Map Options</a>
  </div>
</p>

<hr>

<p id="scrollwheel" class="medium-7">
  <h3>scrollwheel</h3>

  <div class="-mb">
    <small class="-db">Type</small>
    Boolean
  </div>

  <div class="-mb">
    <small class="-db">Default</small>
    <div class="gmaps-inline-code -nml">true</div>
  </div>

  <div class="-mb">
    <small class="-db">Resources</small>
    <a href="https://developers.google.com/maps/documentation/javascript/reference#MapOptions" target="_blank">Google Map Options</a>
  </div>
</p>

<hr>

<p id="styles" class="medium-7">
  <h3>styles</h3>

  <div class="-mb">
    <small class="-db">Type</small>
    Array
  </div>

  <div class="-mb">
    <small class="-db">Default</small>
    <div class="gmaps-inline-code -nml">undefined</div>
  </div>

  <div class="-mb">
    <small class="-db">Resources</small>
    <a class="-db" href="https://developers.google.com/maps/documentation/javascript/styling" target="_blank">Google Map Options</a>
    <a class="-db" href="https://snazzymaps.com/" target="_blank">Snazzymaps theme repository</a>
  </div>
</p>

<hr>

<p id="streetViewControl" class="medium-7">
  <h3>streetViewControl</h3>

  <div class="-mb">
    <small class="-db">Type</small>
    Boolean
  </div>

  <div class="-mb">
    <small class="-db">Default</small>
    <div class="gmaps-inline-code -nml">true</div>
  </div>

  <div class="-mb">
    <small class="-db">Resources</small>
    <a href="https://developers.google.com/maps/documentation/javascript/reference#MapOptions" target="_blank">Google Map Options</a>
  </div>
</p>

<hr>

<p id="streetViewControlOptions" class="medium-7">
  <h3>streetViewControlOptions</h3>

  <div class="-mb">
    <small class="-db">Type</small>
    String
  </div>

  <div class="-mb">
    <small class="-db">Default</small>
    Undefined or the same as that specified in the zoomControlOptions
  </div>

  <div class="-mb">
    <small class="-db">Options</small>
    <a href="https://developers.google.com/maps/documentation/javascript/reference#ControlPosition" target="_blank">Google Maps control position</a>
  </div>

  <div class="-mb">
    <small class="-db">Resources</small>
    <a href="https://developers.google.com/maps/documentation/javascript/reference#MapOptions" target="_blank">Google Map Options</a>
  </div>
</p>

<hr>

<p id="tilt" class="medium-7">
  <h3>tilt</h3>

  <div class="-mb">
    <small class="-db">Type</small>
    Number
  </div>

  <div class="-mb">
    <small class="-db">Default</small>
    <span class="gmaps-inline-code -nml">0</span>
  </div>

  <div class="-mb">
    <small class="-db">Options</small>
    <span class="gmaps-inline-code -nml">0</span>
    <span class="gmaps-inline-code -nml">45</span>
  </div>

  <div class="-mb">
    <small class="-db">Notes</small>
    This is an advanced feature
  </div>

  <div class="-mb">
    <small class="-db">Resources</small>
    <a href="https://developers.google.com/maps/documentation/javascript/reference#MapOptions" target="_blank">Google Map Options</a>
  </div>
</p>

<hr>

<p id="zoom" class="medium-7">
  <h3>zoom</h3>

  <div class="-mb">
    <small class="-db">Type</small>
    Number
  </div>

  <div class="-mb">
    <small class="-db">Default</small>
    The initial Map zoom level
  </div>

  <div class="-mb">
    <small class="-db">Resources</small>
    <a href="https://developers.google.com/maps/documentation/javascript/reference#MapOptions" target="_blank">Google Map Options</a>
  </div>
</p>

<hr>

<p id="zoomControl" class="medium-7">
  <h3>zoomControl</h3>

  <div class="-mb">
    <small class="-db">Type</small>
    Boolean
  </div>

  <div class="-mb">
    <small class="-db">Default</small>
    <div class="gmaps-inline-code -nml">true</div>
  </div>

  <div class="-mb">
    <small class="-db">Resources</small>
    <a href="https://developers.google.com/maps/documentation/javascript/reference#MapOptions" target="_blank">Google Map Options</a>
  </div>
</p>

<hr>

<p id="zoomControlOptions" class="medium-7">
  <h3>zoomControlOptions</h3>

  <div class="-mb">
    <small class="-db">Type</small>
    String
  </div>

  <div class="-mb">
    <small class="-db">Default</small>
    TOP_LEFT
  </div>

  <div class="-mb">
    <small class="-db">Options</small>
    <a href="https://developers.google.com/maps/documentation/javascript/reference#ControlPosition" target="_blank">Google Maps control position</a>
  </div>

  <div class="-mb">
    <small class="-db">Resources</small>
    <a href="https://developers.google.com/maps/documentation/javascript/reference#MapOptions" target="_blank">Google Map Options</a>
  </div>
</p>
